ion-content{
    --background: white;
}
h1{    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.basket-container{
    max-width: 800px;
    margin-left: auto;
    margin-right:auto;
}

.basket-item{
    margin-bottom: 20px;
    padding-bottom: 20px;
    ion-col{
        padding:0px;
    }
    img{
        height:235px;
    }
    .quantity{
        width:85px;
        --padding-start: 0px;
        ion-label{
            max-width:40px
        }
    }
}

.pos-rel{
    position:relative
}

.pos-rel .top-right{
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 20px;
}

ion-toolbar{
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    --background:transparent;
}
ion-footer{
    background:#22472A
}

ion-title{
    color: #F7F8F9;
    padding:0px;
}


.remove-from-basket{
    text-decoration: underline;
    text-transform: lowercase;
    position: absolute;
    left: -20px;
    bottom: -7px;
    color:#737373;
}

.description{
    color:#737373;
    margin-bottom:0px;
}

ion-select{
    padding-left:0px;
}


.inModal .basket-container{
padding:0px 20px;
}

.inModal ion-toolbar {
    padding:0px 20px;
}