.container{
padding:20px;
}



ion-content{
    --background: white;
    height:62vh;
}
h1{   
    margin-bottom: 20px;
    font-family: 'Bold';


   
}
.basket-title {
    margin-top:20px;
    color: #212529;
}
.basket-container{
    padding: 0px 0px 30px 0px;
    border-top: 0.5px solid #ccc;

}


.basket-item{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #ccc;

    ion-col{
        padding:0px;
        margin-top:20px;
    }
    img{
      //  height:235px;
      border-radius: 6px;
      cursor:pointer;
    }
    .quantity{
        width:135px;
        --padding-start: 0px;
       
    }
}

.pos-rel{
    position:relative
}

.pos-rel .top-right{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 16px;
}

ion-toolbar{
  
    --background:transparent;
    padding: 10px 20px;
}
ion-footer{
padding-bottom:10px;
position: absolute;
bottom: 0px;
}

ion-title{
    color: #F7F8F9;
    padding:0px;
    text-align: left;
}


.remove-from-basket{
    text-decoration: underline;
    text-transform: lowercase;
    position: absolute;
    top: 0px;
    right:0px;
    --padding-start: 18px;
    color:#737373;
}

.remove-from-basket-mob{
    top: -20px;
    right: -40px;
    position: absolute;
}

.description{
    color:#737373;
    margin-bottom:0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 20px;
    max-height: 40px;
    margin-bottom: 20px;    /* fallback */
}

ion-select{
    padding-left:0px;
}


.inModal .basket-container{
padding:0px 20px;
}



.col-right{
    padding: 0px 20px !important;
}

@media(max-width: 768px) {
    .basket-title {
        margin-top:60px;
    }
    .inModal.basket-title{
        margin-top:30px!important;
    }
    ion-content{
      --margin-top:0px;
    }
    .col-right{
        padding:10px !important;
        p {
            margin-top:0px;
            font-size: 14px;
        }
    } 
    h2 {
        margin-top:0px;
        font-size:20px;
    }
    ion-label {
        font-size: 14px!important;
    }
    ion-select {
        font-size:14px;
    }

    ion-title{
        text-align: left;
    }
}

.close{
    position:absolute;
    top:5px;
    right: 5px;
}

.back-to-shop {
    margin-top: 50px;
    text-align: center;
}


h2 {
    cursor: pointer;
}

.error{
    color: red;
    margin-bottom:0px;
}

.close-menu{
    position: absolute;
    top: 40px;
    right: 22px;
    ion-icon{
        font-size: 30px;
    }
}



.quantity-row h2 {
    margin-top: 13px;
  }
  .quantity-row{
    min-height: 60px;

  }
  .quantity-box {
    text-align: center;
    display:inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #f5f5f5;

    ion-button{
        display: inline-block;
        margin-top: -4px;
    }
    span{
        display: inline-block;
        color:#22472a;
        margin-top:8px;
        width:20px;
    }
  }


  ion-footer ion-label{
    font-family: 'Bold';
  }