ion-content{
    --background: white;
}
h1{   
    margin-bottom: 20px;

   
}
.basket-title {
    max-width: 800px;
    margin-left: auto;
    margin-right:auto;
    margin-top:20px;
}
.basket-container{
    max-width: 800px;
    margin-left: auto;
    margin-right:auto;
    padding: 30px 20px; 
}

.basket-item{
    margin-bottom: 20px;
    padding-bottom: 20px;
    ion-col{
        padding:0px;
    }
    img{
      //  height:235px;
      border-radius: 6px;
    }
    .quantity{
        width:85px;
        --padding-start: 0px;
        ion-label{
            max-width:40px
        }
    }
}

.pos-rel{
    position:relative
}

.pos-rel .top-right{
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 20px;
}

ion-toolbar{
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    --background:transparent;
    padding: 10px 5px 10px 15px;
}
ion-footer{
    background:#22472A;
padding-bottom:10px;
}

ion-title{
    color: #F7F8F9;
    padding:0px;
    text-align: left;
}


.remove-from-basket{
    text-decoration: underline;
    text-transform: lowercase;
    position: absolute;
    bottom: 0px;
    left:0px;
    --padding-start: 18px;
    color:#737373;
}

.remove-from-basket-mob{
    top: -20px;
    right: -40px;
    position: absolute;
}

.description{
    color:#737373;
    margin-bottom:0px;
}

ion-select{
    padding-left:0px;
}


.inModal .basket-container{
padding:0px 20px;
}



.col-right{
    padding: 0px 20px !important;
}

@media(max-width: 768px) {
    .basket-title {
        margin-top:60px;
    }
    .inModal.basket-title{
        margin-top:30px!important;
    }
    ion-content{
      --margin-top:0px;
    }
    .col-right{
        padding:10px !important;
        p {
            margin-top:0px;
            font-size: 14px;
        }
    } 
    h2 {
        margin-top:0px;
        font-size:20px;
    }
    ion-label {
        font-size: 14px!important;
    }
    ion-select {
        font-size:14px;
    }

    ion-title{
        text-align: left;
    }
}

.close{
    position:absolute;
    top:5px;
    right: 5px;
}

.back-to-shop {
    margin-top: 50px;
    text-align: center;
}

