<ion-content [ngClass]="inModal ? 'inModal' : ''">
  <div class="basket-container">
    <h1>Your Basket</h1>

      <ion-row class="basket-item" *ngFor="let item of basketArray; index as i">
        
        <ion-col [size]="inMenu ? '12': '4'">
          <img [src]="item.cap.imageField1">
        </ion-col>
        <ion-col   [size]="inMenu ? '12': '8'" class="pos-rel">
          <h2>{{item.cap.name}}</h2>
          <p class="description">{{item.cap.description}}</p>
          <p *ngIf="inModal">Quantity: {{item.quantity}}</p>
          <ion-item lines="none" class="quantity" *ngIf="!inModal">
            <ion-label>Qty</ion-label>
            <ion-select mode="ios" interface="popover" *ngIf="item.quantity" (ionChange)="quantityChanged($event, i)"  [value]="item.quantity">
              <ion-select-option *ngFor="let val of item.quantityArray" [value]=val>{{val}}</ion-select-option>
            </ion-select>
          </ion-item>
         <!-- <ion-item class="quantity">
            <ion-label>Quantity:</ion-label>
            <ion-input (ionChange)="quantityChanged($event, i)"  type="number" required="true"  min="1" max="5" [value]="item.quantity"></ion-input>
          </ion-item>-->
          <div class="top-right">
          <span class="item-price">£{{item.itemPrice}}</span>
          </div>

          <ion-button *ngIf="!inModal" (click)="remove(i)"  class="remove-from-basket" fill="none" color="medium">remove</ion-button>

        </ion-col>
      
      </ion-row>
  </div>
</ion-content>
<ion-footer [ngClass]="inModal ? 'inModal' : ''">
 <ion-toolbar>
   <ion-title>
    Total:  £{{totalPrice}}
   </ion-title>
    <ion-button  slot="end"shape="round" color="tertiary" fill="outline" *ngIf="inModal" (click)="editBasket()">Edit Basket</ion-button>
    <ion-button  slot="end"shape="round"  color="tertiary" (click)="getStripeInfo()">Checkout</ion-button>
  </ion-toolbar>
</ion-footer>
