<div class="cookie-container">
    <ion-button fill="clear" color="medium" class="close" (click)="close()"><ion-icon name="close-outline"></ion-icon></ion-button>
  <h3>
    You guessed it - this site uses cookies.
  </h3>
  <p>Like every other website out there, we use necessary cookies to make our site work. We'd also like to set analytics cookies that help us make improvements by measuring how you use the site. These will be set only if you accept. By clicking the button below you accept our use of cookies.
  </p>
  <p>For more detailed information about the cookies we use, see our <a [routerLink]="'/privacy'">privacy policy</a>.</p>
  <div class="ion-text-left">
    <ion-button color="tertiary" shape="round" (click)="setCookie('accepted')">Got It</ion-button>
  </div> 
</div>