<ion-content>
  <ion-button fill="outline" (click)="backTo()">
    Back to collections
  </ion-button>
  <div class="page-container">

    <ion-item>
      <ion-label>
        {{collection?.name}} <span *ngIf="collection?.isLive" class="live">[LIVE]</span> <span *ngIf="!collection?.isLive" class="not-live">[NOT-LIVE]</span>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
         Preview
        </ion-button>
        <ion-button (click)="editCollection()">
          Edit
        </ion-button>
      </ion-buttons>
    </ion-item>
    
    <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let cap of caps" >
      <ion-card>
        <img [src]="cap.imageField1Mobile">
        <ion-card-header>
          <ion-card-title>{{cap?.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{cap?.description}}
          </ion-card-content>
         
          <ion-button fill="outline" class="top-right-button" (click)="editCap(cap.nameHyphenated)">
            Edit
          </ion-button>
      </ion-card>
    </ng-template>
  
    <ng-template swiperSlide>
      <ion-card (click)="addCap()">
        <ion-card-header>
          <ion-card-title>Add Cap</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-template>
   
  </swiper>
  </div>
</ion-content>>