<ion-header   class="ion-no-border">
  <div id="interaction"></div>
 <!-- <div class="sales-banner">
    FREE UK DELIVERY ON ALL ORDERS
  </div>-->
  <ion-toolbar>
    <ion-buttons slot="end">
       <div>
        <a class="header-button ion-hide-sm-down" [routerLink]="['/home/']">HOME</a>
        <a class="header-button" [routerLink]="['/shop/']">SHOP</a>
         <ion-button (click)="openBasket()" color="light" class="basket"><ion-icon name="cart"></ion-icon><ion-badge *ngIf="basketQuantity > 0" color="danger">{{basketQuantity}}</ion-badge></ion-button>
       </div>
    </ion-buttons>
    <ion-title slot="start" >
     <a [routerLink]="'/home/'" ><img alt="nod caps logo" src="./assets/img/logos/nod-logo-white-180px.png"></a>
    </ion-title>
  </ion-toolbar>
</ion-header>
