@media (max-width: 768px) {
    ion-toolbar{
      padding: 0px!important;
      //text-align:center;
    }
    ion-title{
      padding-left: 20px;
      text-align: left;
     
    }
    ion-badge{
height:auto;
width: auto;
    }
  }
  
  ion-toolbar{
  --background: #22472a;
  padding-right:15px;
  color:#f8f9fa;
  }

  .basket {
    ion-icon{
      margin-bottom:5px;
    }
    ion-badge{
      margin-bottom: 11px;
    border-radius: 50%;
     width: 19px;
     height: 19px;
    margin-left:-7px;
    }
  }

  ion-title{
    cursor:pointer;
    img{
      width:80px;
      max-width:80px;
      margin-top:10px;
    }
  }