<ion-header   class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button class="ion-hide-md-up" color="light"></ion-menu-button>
       <div class="ion-hide-md-down">
         <ion-button (click)="goTo('home')"><strong>HOME</strong></ion-button>
         <ion-button (click)="goTo('shop')"><strong>SHOP</strong></ion-button>
         <ion-button (click)="goTo('basket')" class="basket"><ion-icon name="cart"></ion-icon><ion-badge *ngIf="basketQuantity > 0" color="danger">{{basketQuantity}}</ion-badge></ion-button>

       </div>
    </ion-buttons>
    <ion-title>
      <strong>Cap Shop</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>