

ion-row{
  background:#ffcf9d;
  position:relative;
  margin-bottom:100px;

}

.custom-shape-divider-top-1633273712 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1633273712 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 98px;
}

.custom-shape-divider-top-1633273712 .shape-fill {
  fill: #FFFFFF;
}
.custom-shape-divider-bottom-1633272642 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1633272642 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 98px;
}

.custom-shape-divider-bottom-1633272642 .shape-fill {
  fill: #FFFFFF;
}


