<ion-content>
  <ion-button (click)="goBack()" fill="outline">
    Go Back 
  </ion-button>
<div class="page-container" >
  <h1>
    Create Cap
  </h1>
  <form [formGroup]="capForm">
  <ion-list>
      <ion-item>
      <ion-label position="stacked">Cap Name</ion-label>
      <ion-input *ngIf="!editPage"formControlName="name" placeholder="Enter cap name..."></ion-input>
      <ion-input *ngIf="editPage" disabled="true">{{cap?.name}}</ion-input>

    </ion-item>
    <div *ngFor="let error of errorMessages.name">
      <ng-container *ngIf="name?.hasError(error.type) && (name?.dirty || name?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="stacked">Price</ion-label>
      <ion-input formControlName="price" placeholder="Enter Price..."></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.price">
      <ng-container *ngIf="price?.hasError(error.type) && (price?.dirty || price?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
      <ion-item>
      <ion-label position="stacked">Cap Description</ion-label>
      <ion-textarea formControlName="description" placeholder="Enter description..." rows="6"></ion-textarea>
    </ion-item>
      <div *ngFor="let error of errorMessages.description">
        <ng-container *ngIf="description?.hasError(error.type) && (description?.dirty || description?.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="stacked">Cap priceId (from stripe)</ion-label>
        <ion-input formControlName="priceId" placeholder="Enter PriceId..."></ion-input>
      </ion-item>
        <div *ngFor="let error of errorMessages.priceId">
          <ng-container *ngIf="priceId?.hasError(error.type) && (priceId?.dirty || priceId?.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      <ion-item>
        <ion-label position="stacked">Quantity</ion-label>
        <ion-input formControlName="quantity" placeholder="Enter Quantity..."></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.quantity">
        <ng-container *ngIf="quantity?.hasError(error.type) && (quantity?.dirty || quantity?.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="stacked">Colour</ion-label>
        <ion-input formControlName="colour" placeholder="Enter Colour..."></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.colour">
        <ng-container *ngIf="colour?.hasError(error.type) && (colour?.dirty || colour?.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="stacked">Colour Name</ion-label>
        <ion-input formControlName="colourName" placeholder="Enter Colour Name..."></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.colourName">
        <ng-container *ngIf="colourName?.hasError(error.type) && (colourName?.dirty || colourName?.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>Image One Large <ion-icon *ngIf = "cap?.imageField1" name="checkmark-circle-outline"></ion-icon></ion-label><input type="file"  name="myImage1" accept="image/png, image/gif, image/jpeg" #imageInput1 (change)="processFile(imageInput1, 1)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Two Large<ion-icon  *ngIf = "cap?.imageField2" name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage2" accept="image/png, image/gif, image/jpeg" #imageInput2 (change)="processFile(imageInput2, 2)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Three Large<ion-icon *ngIf = "cap?.imageField3"  name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage3" accept="image/png, image/gif, image/jpeg" #imageInput3 (change)="processFile(imageInput3, 3)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Four Large<ion-icon *ngIf = "cap?.imageField4"  name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage4" accept="image/png, image/gif, image/jpeg" #imageInput4 (change)="processFile(imageInput4, 4)" />
      </ion-item>
      <ion-item>
        <ion-label>Image One Small <ion-icon *ngIf = "cap?.imageField1Small" name="checkmark-circle-outline"></ion-icon></ion-label><input type="file"  name="myImage1" accept="image/png, image/gif, image/jpeg" #imageInput1Small (change)="processFile(imageInput1Small, 5)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Two Small<ion-icon  *ngIf = "cap?.imageField2Small" name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage2" accept="image/png, image/gif, image/jpeg" #imageInput2Small (change)="processFile(imageInput2Small, 6)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Three Small<ion-icon *ngIf = "cap?.imageField3Small"  name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage3" accept="image/png, image/gif, image/jpeg" #imageInput3Small (change)="processFile(imageInput3Small, 7)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Four Small<ion-icon *ngIf = "cap?.imageField4Small"  name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage4" accept="image/png, image/gif, image/jpeg" #imageInput4Small (change)="processFile(imageInput4Small, 8)" />
      </ion-item>
      <ion-item>
        <ion-label>Image One Mobile <ion-icon *ngIf = "cap?.imageField1Mobile" name="checkmark-circle-outline"></ion-icon></ion-label><input type="file"  name="myImage1" accept="image/png, image/gif, image/jpeg" #imageInput1Mobile (change)="processFile(imageInput1Mobile, 9)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Two Mobile<ion-icon  *ngIf = "cap?.imageField2Mobile" name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage2" accept="image/png, image/gif, image/jpeg" #imageInput2Mobile (change)="processFile(imageInput2Mobile, 10)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Three Mobile<ion-icon *ngIf = "cap?.imageField3Mobile"  name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage3" accept="image/png, image/gif, image/jpeg" #imageInput3Mobile (change)="processFile(imageInput3Mobile, 11)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Four Mobile<ion-icon *ngIf = "cap?.imageField4Mobile"  name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage4" accept="image/png, image/gif, image/jpeg" #imageInput4Mobile (change)="processFile(imageInput4Mobile, 12)" />
      </ion-item>
  </ion-list>
  </form>
  <div >
    <div class="hat-images">
      <img *ngIf = "cap?.imageField1" [src]="cap?.imageField1">
      <p *ngIf = "!cap?.imageField1">No image 1 Large</p>
  
      <img *ngIf = "cap?.imageField2" [src]="cap?.imageField2">
      <p *ngIf = "!cap?.imageField2">No image 2 Large</p>
  
      <img *ngIf = "cap?.imageField3" [src]="cap?.imageField3">
      <p *ngIf = "!cap?.imageField3">No image 3 Large</p>
  
      <img *ngIf = "cap?.imageField4" [src]="cap?.imageField4">
      <p *ngIf = "!cap?.imageField4">No image 4 Large</p>
    </div>
    

    <div class="hat-images">
      <img *ngIf = "cap?.imageField1Small" [src]="cap?.imageField1Small">
      <p *ngIf = "!cap?.imageField1Small">No image 1 Small</p>
  
      <img *ngIf = "cap?.imageField2Small" [src]="cap?.imageField2Small">
      <p *ngIf = "!cap?.imageField2Small">No image 2 Small</p>
  
      <img *ngIf = "cap?.imageField3Small" [src]="cap?.imageField3Small">
      <p *ngIf = "!cap?.imageField3Small">No image 3 Small</p>
  
      <img *ngIf = "cap?.imageField4Small" [src]="cap?.imageField4Small">
      <p *ngIf = "!cap?.imageField4Small">No image 4 Small</p>
    </div>
    

    <div class="hat-images">
      <img *ngIf = "cap?.imageField1Mobile" [src]="cap?.imageField1Mobile">
      <p *ngIf = "!cap?.imageField1Small">No image 1 Mobile</p>
  
      <img *ngIf = "cap?.imageField2Mobile" [src]="cap?.imageField2Mobile">
      <p *ngIf = "!cap?.imageField2Mobile">No image 2 Mobile</p>
  
      <img *ngIf = "cap?.imageField3Mobile" [src]="cap?.imageField3Mobile">
      <p *ngIf = "!cap?.imageField3Mobile">No image 3 Mobile</p>
  
      <img *ngIf = "cap?.imageField4Mobile" [src]="cap?.imageField4Mobile">
      <p *ngIf = "!cap?.imageField4Mobile">No image 4 Mobile</p>
    </div>
   

  </div>

  <ion-button fill="outline">
    Preview
  </ion-button>
  <ion-button fill="outline" color="danger" *ngIf = "editPage" (click)="removeCap()">
    Remove
   </ion-button>
  <ion-button (click)="save()" [disabled] = "!capForm.valid || (!editPage && !hasProcessed) ">
    <span *ngIf="!saving">Save</span>
    <ion-spinner *ngIf="saving"></ion-spinner>
  </ion-button>


</div> 
</ion-content>