<ion-content>
  <ion-button (click)="goBack()" fill="outline">
    Go Back 
  </ion-button>
<div class="page-container" >
  <h1>
    Create Cap
  </h1>
  <form [formGroup]="capForm">
  <ion-list>
      <ion-item>
      <ion-label position="stacked">Cap Name</ion-label>
      <ion-input *ngIf="!editPage"formControlName="name" placeholder="Enter cap name..."></ion-input>
      <ion-input *ngIf="editPage" disabled="true">{{cap?.name}}</ion-input>

    </ion-item>
    <div *ngFor="let error of errorMessages.name">
      <ng-container *ngIf="name?.hasError(error.type) && (name?.dirty || name?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="stacked">Price</ion-label>
      <ion-input formControlName="price" placeholder="Enter Price..."></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.price">
      <ng-container *ngIf="price?.hasError(error.type) && (price?.dirty || price?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
      <ion-item>
      <ion-label position="stacked">Cap Description</ion-label>
      <ion-textarea formControlName="description" placeholder="Enter description..." rows="6"></ion-textarea>
    </ion-item>
      <div *ngFor="let error of errorMessages.description">
        <ng-container *ngIf="description?.hasError(error.type) && (description?.dirty || description?.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="stacked">Quantity</ion-label>
        <ion-input formControlName="quantity" placeholder="Enter Quantity..."></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.quantity">
        <ng-container *ngIf="quantity?.hasError(error.type) && (quantity?.dirty || quantity?.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>Image One <ion-icon *ngIf = "cap?.imageField1" name="checkmark-circle-outline"></ion-icon></ion-label><input type="file"  name="myImage1" accept="image/png, image/gif, image/jpeg" #imageInput1 (change)="processFile(imageInput1, 1)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Two <ion-icon  *ngIf = "cap?.imageField2" name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage2" accept="image/png, image/gif, image/jpeg" #imageInput2 (change)="processFile(imageInput2, 2)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Three <ion-icon *ngIf = "cap?.imageField3"  name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage3" accept="image/png, image/gif, image/jpeg" #imageInput3 (change)="processFile(imageInput3, 3)" />
      </ion-item>
      <ion-item>
        <ion-label>Image Four <ion-icon *ngIf = "cap?.imageField4"  name="checkmark-circle-outline"></ion-icon></ion-label><input type="file" name="myImage4" accept="image/png, image/gif, image/jpeg" #imageInput4 (change)="processFile(imageInput4, 4)" />
      </ion-item>
  </ion-list>
  </form>
  <div class="hat-images">
    <img *ngIf = "cap?.imageField1" [src]="cap?.imageField1">
    <p *ngIf = "!cap?.imageField1">No image 1</p>

    <img *ngIf = "cap?.imageField2" [src]="cap?.imageField2">
    <p *ngIf = "!cap?.imageField2">No image 2</p>

    <img *ngIf = "cap?.imageField3" [src]="cap?.imageField3">
    <p *ngIf = "!cap?.imageField3">No image 3</p>

    <img *ngIf = "cap?.imageField4" [src]="cap?.imageField4">
    <p *ngIf = "!cap?.imageField4">No image 4</p>

  </div>

  <ion-button fill="outline">
    Preview
  </ion-button>
  <ion-button fill="outline" color="danger" *ngIf = "editPage" (click)="removeCap()">
    Remove
   </ion-button>
  <ion-button (click)="save()" [disabled] = "!capForm.valid || (!editPage && !hasProcessed) ">
    <span *ngIf="!saving">Save</span>
    <ion-spinner *ngIf="saving"></ion-spinner>
  </ion-button>


</div> 
</ion-content>