ion-content{
    --background:white;
}

.page-container{
    margin:5% 20%;
}

ion-item{
    margin-bottom:0px;
}

.error-message{
    color: var(--ion-color-danger);
} 


.hat-images{
    display: flex;
    img{
        max-width:125px; 
        margin:0px 20px
    }
    p{
        margin:0px 20px

    }
}