.dark{
    background: #323232;
    .first {
        color: #f8f9fa;

    }
    .second {
        color:#f8f9fa;
    }
}

.light{
    .first {
        color:#212529;  
  
    }
    .second {
        color:#212529;    
    }
    a {
        color: #212529;
        border-bottom: 1px solid #212529;
    }
    .achievement{
        border-top: 1px solid #212529!important;
    }
}

.first{
  padding: 30px 80px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: contain; 
  .feather-definition{
    h1 {
        font-size: 40px;
    }
    font-family: 'Times New Roman', Times, serif;
    span {
        letter-spacing: 0.3rem;;
    }
    .achievement{
        border-top: 1px solid #f8f9fa;
        padding-top: 10px;
    margin-top: 0px;
    }
  }
}


.second {
    padding: 30px;
    p{
        margin-bottom: 25px;
    }
}

ion-grid{
    padding: 50px 0px 80px 0px;
}

a{
    margin-top:20px;
    color: white;
    /* padding-bottom: 10px; */
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    ion-icon{
        margin-bottom: -3px;
    }
}

@media (max-width:768px) {
    .first {
        padding:30px
    }
}