<ion-grid [ngClass]="dark ? 'dark':'light'">
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="5" class="first">
      <div class="feather-definition">
        <h1>A feather in <br> your cap</h1>
        <p><span>|feth-er-in-yoor-kap|</span><em>phrase.</em></p>
        <hr>
        <p class="achievement"><strong>an achievement to be proud of</strong></p>
      </div>

    </ion-col>
    <ion-col size="12" size-md="6" size-lg="7" class="second">
      <h1>
          Our Caps
      </h1>
      <p >
          By purely focusing on caps, we've been able to put all our efforts into designing and producing the best quality caps that our customers are proud to wear and gift to their loved ones.  This is exactly why we have placed a signature feather logo on the front on your cap - we’re giving you a feather in your cap.
           All of our caps are crafted from 100% cotton featuring a soft unstructured six panel crown with taped seams,  a curved peak and an adjustable buckle strap to the rear.  
      </p>
      <a href="/shop" [routerLink]="'/shop'">Browse the Cap Collection <ion-icon name="arrow-forward-outline"></ion-icon></a>
    </ion-col>
  </ion-row>
</ion-grid>
