.dark{
    background: #323232;
    .first {
        color: #f8f9fa;

    }
    .fancy-button:after {
  
        background-color: #f8f9fa;
    }
    .second {
        color:#f8f9fa;
    }
}

.light{
    .first {
        color:#212529;  
  
    }
    

    .second {
        color:#212529;    
    }
    a {
        color: #212529;
        border-bottom: 1px solid #212529;
    }
    .achievement{
        border-top: 1px solid #212529!important;
    }
}

.first{
  padding: 30px 80px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: contain; 
  .feather-definition{
    h1 {
        font-size: 40px;
    }
    font-family: 'Times New Roman', Times, serif;
    span {
        letter-spacing: 0.3rem;;
    }
    .achievement{
        border-top: 1px solid #f8f9fa;
        padding-top: 10px;
    margin-top: 0px;
    }
  }
}


.second {
    padding: 30px;
    p{
        margin-bottom: 25px;
    }
}

ion-grid{
    padding: 50px 0px 80px 0px;
}

a{
    margin-top:20px;
    color: #f8f9fa;
    /* padding-bottom: 10px; */
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #f8f9fa;
    ion-icon{
        margin-bottom: -3px;
    }
}

@media (max-width:768px) {
    .first {
        padding:30px
    }
}

.fancy-button:after {
    content: "";
    width: 0px;
    height: 0.5px;
    background-color: #212529;
    left: 0;
    position: relative;
    display: block;
    top: 11px;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  
  .fancy-button:hover:after{
   width: 214px;
  }