<ion-grid [ngClass]="dark ? 'dark':'light'">
  <ion-row>
    <ion-col [lazyLoad]="dark ? './assets/img/logos/faded-feather-dark-250px.png' : './assets/img/logos/faded-feather-250px.png'" size="12" size-md="6" size-lg="5" class="first">
      <div  class="feather-definition">
        <h1>A feather in <br> your cap</h1>
        <p><span>|feth-er-in-yoor-kap|</span><em>phrase.</em></p>
        <hr>
        <p class="achievement"><strong>an achievement to be proud of</strong></p>
      </div>

    </ion-col>
    <ion-col size="12" size-md="6" size-lg="7" class="second">
      <h1>
          Our Caps
      </h1>
      <p *ngIf="!shopPage">
          
By focusing exclusively on baseball caps, we've been able to put all our efforts into designing the best quality products that you are proud to wear. 
This is why we placed our signature feather logo on the front on your cap - we’re giving you a feather in your cap. </p>
<p>Whether you’re looking to treat yourself, or need gifts for family and friends, our caps have got you covered. 
All of our dad-style baseball caps are made from 100% cotton featuring an unstructured six panel design for a comfortable fit and have an adjustable, engraved buckle strap to the rear.

      </p>
      <p *ngIf="shopPage">
        All of our baseball caps / dad caps are designed with the nod feather logo embroidered on the front. We produce high quality caps that we (and hopefully our customers) are proud to wear which is where the phrase 'a feaher in your cap' came into its own. This signature logo is placed front and centre on a 100% cotton
         unstructured six panel crown, alonside a curved peak and adjustable buckle with nod logo. 
    </p>
    <div>
      <a href="/shop" class="fancy-button" [routerLink]="'/shop'">Browse the Cap Collection <ion-icon name="arrow-forward-outline"></ion-icon></a>

    </div>
    </ion-col>
  </ion-row>
</ion-grid>
