<ion-content>
  <div class="container">
    <h1>nod caps site map - the best place to buy caps online</h1>
    <h3>
      General
    </h3>
    <ul>
      <li> <a [routerLink]="'/home'">Home</a></li>
      <li> <a [routerLink]="'/shop'">Shop</a></li>
      <li><a [routerLink]="'/contact'">Contact Us</a></li>
      <li> <a [routerLink]="'/delivery'">Delivery Info</a></li>
      <li> <a [routerLink]="'/returns'">Returns</a></li>
      <li> <a [routerLink]="'/terms'">Terms and Conditions </a></li>
      <li> <a [routerLink]="'/privacy'">Privacy Policy </a></li>
      <li><a [routerLink]="'/about'">About Page</a></li>
    </ul>
   
    <h3>
      The Original Collection
    </h3>
    <ul>
      <li> <a [routerLink]="'/shop/The-Original-Collection/Down-to-Earth'">Down To Earth Cap</a></li>
      <li> <a [routerLink]="'/shop/The-Original-Collection/Out-of-the-Blue'">Out of the Blue Cap</a></li>
      <li> <a [routerLink]="'/shop/The-Original-Collection/Devil-Wears-nod'">Devil Wears nod Cap</a></li>
      <li> <a [routerLink]="'/shop/The-Original-Collection/Black-Sheep'">Black Sheep Cap</a></li>
    </ul>
  
  
  </div>
</ion-content>

