.container{
    padding: 50px 100px;
}
h1{
    color:#22472a;
    font-family: 'Bold';

    margin-bottom:30px;
}
h3{
    margin-top:30px;
}
ul {
    margin-left: 25px;
}

@media(max-width:768px) {
    .container{
        padding: 50px 25px;
    }
}