
  <ion-segment (ionChange)="segmentChanged($event)" [value]="currentSegment" color="tertiary" mode="md">
    <ion-segment-button value="cap">
      <ion-label>{{cap?.name}} <span *ngIf="capReviews">({{capReviews.length}})</span></ion-label>
    </ion-segment-button>
    <ion-segment-button value="other" id="clickedOtherTrack">
      <ion-label>Other <span *ngIf="otherReviews">({{otherReviews.length}})</span></ion-label>
    </ion-segment-button>
  </ion-segment>


  <div  *ngIf="currentSegment === 'cap'">
    <div *ngIf="loadingCapReviews">
      <ion-skeleton-text *ngFor="let item of reviewSkeleton"></ion-skeleton-text>
    </div>
    <div *ngIf="capReviews.length > 0 && !loadingCapReviews">
      <ion-virtual-scroll [items]="capReviews" approxItemHeight="320px" >
        <div *virtualItem="let review;" class="review-box">
            <p class="name"><span *ngIf="review.name">{{review.name}}</span><span *ngIf="!review.name">Anonymous</span></p>
            <ion-icon name="star" color="tertiary" *ngFor="let item of [].constructor(review.rating)"></ion-icon> 
            <ion-icon name="star-outline" color="tertiary" *ngFor="let item of [].constructor(5-review.rating)"></ion-icon> 

            <p class="message" *ngIf="review.message">"{{review.message}}"</p>
        </div>
      </ion-virtual-scroll>
      </div>
      <div *ngIf="capReviews.lenght === 0 && !loadingCapReviews" class="ion-text-center">
        <p>This cap has no reviews yet... </p>
      </div>
  </div>

  <div *ngIf="currentSegment === 'other'">
    <div *ngIf="loadingOtherReviews">
      <ion-skeleton-text *ngFor="let item of reviewSkeleton"></ion-skeleton-text>
    </div>
    <div *ngIf="otherReviews.length > 0 && !loadingOtherReviews">
      <ion-virtual-scroll [items]="otherReviews" approxItemHeight="220px" >
        <div *virtualItem="let review;" class="review-box other-review">
          <img loading="lazy" [alt]="review.name + ' | nod caps'" [src]="review.image" (click)="toCap(review.link)">
            <div class="text-bit">
              <p class="name"><span *ngIf="review.name">{{review.name}}</span><span *ngIf="!review.name">Anonymous</span></p>
              <ion-icon name="star" color="tertiary" *ngFor="let item of [].constructor(review.rating)"></ion-icon> 
              <p class="message" *ngIf="review.message">"{{review.message}}"</p>
            </div>
            </div>
           
      </ion-virtual-scroll>
      </div>
      <div *ngIf="otherReviews.length === 0 && !loadingOtherReviews" class="ion-text-center">
        <p>There are no other reviews yet... </p>
      </div>
 

