.container {
    padding:30px;
}

.review-box{
    padding: 10px;
    width: 100%;
    border: solid 0.5px #73b786;
    border-radius: 6px;
}

ion-skeleton-text{
    height:200px;
    width: 100%;
    background: #eee
}

ion-segment{
    margin-bottom: 30px
}