<ion-content>
  <div class="basket-container">
    <h1>Your Basket</h1>
      <ion-row class="basket-item">
        <ion-col size="4">
          <img src="/assets/img/cap-image.jpg">
        </ion-col>
        <ion-col size="8">
          <h2>Product Name</h2>
          <p>The product description goes here</p>
          <ion-item class="quantity">
            <ion-label>Quantity</ion-label>
            <ion-select value="1">
              <ion-select-option value="0">0</ion-select-option>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-button fill="outline" color="dark">Update Basket</ion-button>
      <ion-button  color="dark">Checkout</ion-button>

  </div>
</ion-content>
