<div class="social-icons" [ngClass]="inline ? 'show-button-inline': ''">

  <a  href="https://www.twitter.com/nod_caps" target='_blank'id="socialTrackTwitter" class="social-icon social-icon--twitter">
    <ion-icon name="logo-twitter"></ion-icon>
  </a>

  <a href="https://www.instagram.com/nod_caps" target='_blank'id="socialTrackInstagram" class="social-icon social-icon--instagram">
    <ion-icon name="logo-instagram"></ion-icon>
  </a>

  <a href="https://www.facebook.com/nodcaps"target='_blank' id="socialTrackTwitter" class="social-icon social-icon--facebook">
    <ion-icon name="logo-facebook"></ion-icon>
  </a>
</div>
