<div class="social-icons" [ngClass]="inline ? 'show-button-inline': ''">

  <a  href="www.twitter.com/nodcaps" id="socialTrackTwitter" class="social-icon social-icon--twitter">
    <ion-icon name="logo-twitter"></ion-icon>
  </a>

  <a href="www.instagram.com/nod_caps " id="socialTrackInstagram" class="social-icon social-icon--instagram">
    <ion-icon name="logo-instagram"></ion-icon>
  </a>

  <a href="www.facebook.com/nod-caps" id="socialTrackTwitter" class="social-icon social-icon--facebook">
    <ion-icon name="logo-facebook"></ion-icon>
  </a>
</div>
