/* Demo */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  

  
  /* Social Icons */
  .social-icons {
    display: flex;
  }

  .show-button-inline {
    display: inline-flex!important;
  }

  swiper {
    margin-bottom: 20px;
  }
  
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.15s ease;
    background: #eeeeee;
    color: black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) inset;

  
    &:hover {
      color: #fff;
      background: white;
    }
      
    &:active {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) inset;
    }
  }



  
  .social-icon--facebook:hover {
    background:#3b5a9b;
   
   }

   .social-icon--twitter:hover {
    background:#1DA1F2;
     }

   .social-icon--instagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
         }
