<ion-content>
  <div class="page-container">
    <h1 class="ion-text-center">Delivery Info</h1>
<p>We are delighted to offer our customers free UK mainland delivery with every order - no matter how big or small!</p>
<h3><strong>Where do we deliver to?</strong></h3>
<p>At the moment, we can only deliver to the UK. However, we are hoping you all like our caps and can expand to more countries very soon! Please get in touch with us via email (info@nodcaps.com) if you would like a nod cap to be avaialble in your country! </p>

<h3><strong>Dispatch times</strong></h3>
<p>Orders are packaged and shipped within 1-2 business days and devliery usually takes 1-2 business days too. So once you place an order we will do our best to make sure your cap is with you within 2-4 business days.  Business days are Monday through Friday (excluding holidays).</p>


<h3><strong>Delivery Costs</strong></h3>
<p>All UK mainland devliery is free.</p>
<h3><strong>Packaging Details</strong></h3>
<p>We package each cap like it's a gift - everything is carefully packaged up by us and sent to you from Edinburgh. 
  Our caps arrive with no receipts/invoices so you can send it straight to your friends and family! 
  We also try to use environmentally friendly packing and try to use as little packaging as possible (whilst making sure your cap is well protected and still arrives in pristine condition!) 
</p>

</div>
    
   <app-footer></app-footer>
  </ion-content>