.swiper-holder{
  background:#f5f5f5;
    animation: slideUp 1s ease ;
    -webkit-animation: slideUp 1s ease ;
    padding: 40px 35px;
    position: relative;
    position: relative;
    h1{
     margin-bottom:40px;
     text-align: center;
     color: #22472a;
     font-weight: bold;    }
    .nav-button{
      height: 40px;
        width: 40px;
        --border-radius: 50%;
        --padding-start:0px;
        --padding-end:0px;
        position: absolute;
        top: calc(50% - 40px);
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right{
      right: 5px;
    }
    .left {
      left:5px;
    }
  }

  ion-card:hover {
    transform: scale(1.05);
    animation: scaleUp 0.45s ease forwards;
    -webkit-animation: scaleUp 0.45s ease forwards;
    .shop-button-hover{
      display:flex;
      text-align: center;
      position: absolute;
      top: 50%;
      width: 100px;
      left: calc(50% - 50px);
      animation: slideUpBut 0.45s ease forwards;
      -webkit-animation: slideUpBut 0.45s ease forwards;
    }
    .overlay{
      animation: fadeIn ease 0.65s;
      -webkit-animation: fadeIn ease 0.65s;
      opacity: 1;
    }
  }

  
.shop-button-hover{
    display:none;
   }

   h4{
    color:#717677;
   }

   .overlay {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgb(0 0 0 / 80%);
    color: white;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    font-size: 14px;
    opacity:0;
   
   }

   ion-card{
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 1px -2px, rgb(0 0 0 / 10%) 0px 2px 2px 0px, rgb(0 0 0 / 5%) 0px 1px 5px 0px;
}   

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scales(1.05);
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes slideUpBut {
  0% {
    transform: translateY(20px);
    opactiy: 0%;
  }
  100% {
    transform: translateY(0px);
    opactiy:100%;
  }
}

swiper {
  margin-bottom: 20px;
}

