<div class="swiper-holder">
  <h1 *ngIf="showTitle">Made for everyone</h1>
  <p class="ion-text-center">Use #nodcaps when you're out and about! It's great to see you all wearing nod caps.</p>
  <swiper #swiper [config]="config">
    <ng-template swiperSlide>
      <ion-card>
        <img loading="lazy"  alt="Daily Driver | nod caps" src="assets/img/social-slider/social-slider1.jpeg">

        <div class="overlay">
          Daily Driver
      </div>
        <div class="shop-button-hover ion-text-center">
        <a class="ion-button ion-button-light" [routerLink]="'/'">SHOP</a>

    
      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img loading="lazy"   alt="Down to Earth | nod caps" src="assets/img/social-slider/social-slider2.jpeg">

        <div class="overlay">
          Down to Earth
         </div>
        <div class="shop-button-hover ion-text-center">
        <a class="ion-button ion-button-light" [routerLink]="'/'">SHOP</a>

      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img loading="lazy" alt="Black Sheep | nod caps" src="assets/img/social-slider/social-slider2.jpeg">

        <div class="overlay">
          Black Sheep
      </div>
        <div class="shop-button-hover ion-text-center">
          <a class="ion-button ion-button-light" [routerLink]="'/'">SHOP</a>
      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img loading="lazy"  alt="Out of the Blue | nod caps" src="assets/img/social-slider/social-slider4.jpeg">

        <div class="overlay">
         Out of the Blue
      </div>
        <div class="shop-button-hover ion-text-center">
          <a class="ion-button ion-button-light" [routerLink]="'/'">SHOP</a>

      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img loading="lazy"  alt="Black Sheep | nod caps" src="assets/img/social-slider/social-slider1.jpeg">


        <div class="overlay">
         Black Sheep
      </div>
        <div class="shop-button-hover ion-text-center">
          <a class="ion-button ion-button-light" [routerLink]="'/'">SHOP</a>

      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img loading="lazy"  alt="Daily Driver | nod caps" src="assets/img/social-slider/social-slider2.jpeg">
        <div class="overlay">
          Daily Driver
      </div>
        <div class="shop-button-hover ion-text-center">
          <a class="ion-button ion-button-light" [routerLink]="'/'">SHOP</a>

      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img loading="lazy"  alt="Down to Earth | nod caps" src="assets/img/social-slider/social-slider3.jpeg">
        <div class="overlay">
            Down to Earth
        </div>
        <div class="shop-button-hover ion-text-center">
          <a class="ion-button ion-button-light" [routerLink]="'/'">SHOP</a>

      </div>
      </ion-card>
    </ng-template>
  </swiper>
  <ion-button class=" swiper-button-prev" color="tertiary" ><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  <ion-button class=" swiper-button-next" color="tertiary" ><ion-icon  name="chevron-forward-outline"></ion-icon></ion-button>

  <div class="ion-text-center mt-20">
    <app-social-buttons [inline]="true"></app-social-buttons>

  </div>
  <h4 class="ion-text-center">#nodcaps</h4>

</div>