<div class="swiper-holder">
  <h1 *ngIf="showTitle">nod in the wild</h1>
  <swiper #swiper [config]="config">
    <ng-template swiperSlide>
      <ion-card>
        <img src="assets/img/cap-photo.png">
        <div class="overlay">
          Perfect Storm
      </div>
        <div class="shop-button-hover ion-text-center">
        <ion-button  shape="round" color="light">
              SHOP
        </ion-button>
      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img src="assets/img/cap-photo.png">
        <div class="overlay">
          Perfect Storm
         </div>
        <div class="shop-button-hover ion-text-center">
        <ion-button  shape="round" color="light">
         SHOP
        </ion-button>
      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img src="assets/img/cap-photo.png">
        <div class="overlay">
          Burning Bridges
      </div>
        <div class="shop-button-hover ion-text-center">
        <ion-button  shape="round" color="light">
              SHOP
        </ion-button>
      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img src="assets/img/cap-photo.png">
        <div class="overlay">
         Daily Driver
      </div>
        <div class="shop-button-hover ion-text-center">
        <ion-button  shape="round" color="light">
             SHOP
        </ion-button>
      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img src="assets/img/cap-photo.png">
        <div class="overlay">
         Devils Advocate
      </div>
        <div class="shop-button-hover ion-text-center">
        <ion-button  shape="round" color="light">
              SHOP
        </ion-button>
      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img src="assets/img/cap-photo.png">
        <div class="overlay">
          Party Pooper
      </div>
        <div class="shop-button-hover ion-text-center">
        <ion-button  shape="round" color="light">
              SHOP
        </ion-button>
      </div>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <img src="assets/img/cap-photo.png">
        <div class="overlay">
            Irish Goodbye
        </div>
        <div class="shop-button-hover ion-text-center">
        <ion-button  shape="round" color="light">
              SHOP
        </ion-button>
      </div>
      </ion-card>
    </ng-template>
  </swiper>
  <ion-button class=" swiper-button-prev" color="tertiary" ><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  <ion-button class=" swiper-button-next" color="tertiary" ><ion-icon  name="chevron-forward-outline"></ion-icon></ion-button>

  <h4 class="ion-text-center">#nodcaps</h4>

</div>