@media (max-width: 768px) {
  .banner-text{
    width: 95%!important;
    text-align: center;
    margin-left: 2.5%!important;
  }
  .landing-banner{
    height:420px!important;
    img{
      filter:brightness(0.8);
    }
  }

  .text-1{
    font-size:41px!important;
  }
  .text-2{
    font-size: 34px!important;
    margin-bottom:10px!important;

  }

}







.landing-banner {
  height:400px;
  position: relative;
  img{
    object-fit:cover;
    height:100%;
    width:100%;      
    filter:brightness(0.8);

  }
  .banner-text{
    position:absolute;
    top:40px;
    padding: 0px 45px;
  }
  .text-1{
    font-size:61px;
    color: #F5F5F5;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-bottom:40px;
  }
  .text-2{
    font-size:41px;
    color: #F5F5F5;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-bottom:35px;

  }
}

h1{
  font-weight: bold;  
  font-family:'Bold';
  color: #f8f9fa;

}

.fancy-button:after {
  content: "";
  width: 0px;
  height: 1px;
  background-color: #000;
  left: 0;
  position: relative;
  display: block;
  top: 10px;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.fancy-button:hover:after{
 width: 180px;
}




.info {
 //  animation: show 0.5s 1s forwards;
  // -webkit-animation:show 0.5s 1s forwards;
 //  opacity: 0; 
  p{
    font-size:20px;
    color: #f8f9fa;
  }
}
/*
.fade-in-now {
  //  animation: fadeIn ease 1s;
  //  -webkit-animation: fadeIn ease 1s;
}
   

  .fade-in {
  //  animation:show 0s 0.2s forwards;
  //  opacity: 0; 
}

  .fade-in-next {

   // animation: show 0s 0.5s forwards;
 //   opacity: 0; 
    
  }
  .fade-in-last {
  //  animation: show 0s 1s forwards;
//    opacity: 0; 
  }
/*
  @keyframes show {
    to   { opacity: 1; }
  }
  
  @-webkit-keyframes show {
    to   { opacity: 1; }
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes zoomin {
    0% {
        -webkit-transform: scale(1.6);
    }
    100% {
        -webkit-transform: scale(1);
    }
  }
  @-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1.6);
    }
    100% {
        -webkit-transform: scale(1);
    }
  }

  
 
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(600px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .scroll{
    position: absolute;
    bottom:20px;
  }
/*/
a{
  margin-top:20px;
}
  a{
    height: 50px;
    margin-top: 20px;
    padding: 15px 25px;

    //color: #212529;
    /* padding-bottom: 10px; */
   // text-decoration: none;
    //padding-bottom: 10px;
    // border-bottom: 1px solid black;
    /*ion-icon{
        margin-bottom: -3px;
    }*/
  }
  .text-holder{
    position: absolute;
    bottom:20px;
    left: 10px;
  }