@media (max-width: 768px) {
  .center-text h1{
font-size:32px!important;
  }
}




.landing-banner {
  height:400px;
  position: relative;
  img{
    object-fit:cover;
    height:100%;
    width:100%;
  }
  .banner-text{
    position:absolute;
    bottom:40px;
    padding: 0px 25px;
  }
}






.info {
 //  animation: show 0.5s 1s forwards;
  // -webkit-animation:show 0.5s 1s forwards;
 //  opacity: 0; 
  p{
    font-size:20px;
    color: white;
  }
}
/*
.fade-in-now {
  //  animation: fadeIn ease 1s;
  //  -webkit-animation: fadeIn ease 1s;
}
   

  .fade-in {
  //  animation:show 0s 0.2s forwards;
  //  opacity: 0; 
}

  .fade-in-next {

   // animation: show 0s 0.5s forwards;
 //   opacity: 0; 
    
  }
  .fade-in-last {
  //  animation: show 0s 1s forwards;
//    opacity: 0; 
  }
/*
  @keyframes show {
    to   { opacity: 1; }
  }
  
  @-webkit-keyframes show {
    to   { opacity: 1; }
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes zoomin {
    0% {
        -webkit-transform: scale(1.6);
    }
    100% {
        -webkit-transform: scale(1);
    }
  }
  @-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1.6);
    }
    100% {
        -webkit-transform: scale(1);
    }
  }

  
 
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(600px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .scroll{
    position: absolute;
    bottom:20px;
  }
/*/
  a{
    margin-top:20px;
    color: black;
    /* padding-bottom: 10px; */
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    ion-icon{
        margin-bottom: -3px;
    }
  }
  .text-holder{
    position: absolute;
    bottom:20px;
    left: 10px;
  }