<div class="landing-banner">

  <ion-row class="banner">
    <ion-col size="12"  >
      <div class="text-holder">
        <div class="center-text fade-in-now">
          <h1>
            <span class="fade-in-next">Shop nod caps</span>
          </h1>
        </div>
        <div class="info">
          <a href="/shop" [routerLink]="'/shop'">Browse the collection <ion-icon name="arrow-forward-outline"></ion-icon></a>
        </div>
      </div>
     
    </ion-col>
   
  </ion-row>
  



</div>


