<div class="landing-banner">


  <img *ngIf="isMobile" src="/assets/img/banner-image-mob.png">
  <img *ngIf="!isMobile" src="/assets/img/banner-image-desk.jpg">

  <div class="banner-text">
    <div class="center-text fade-in-now">
      <h1  class="text-1">Shop nod caps</h1>
      <h1  class="text-2">We've got you covered</h1>
           </div>
    <div class="info">
      <a class="ion-button" id="browseCollectionTrack" [routerLink]="'/shop/'">SHOP NOW</a>
    </div>
  </div>
    
     
</div>


