<div class="landing-banner">
  <div class="background-image"></div>
  <ion-row class="banner">
    <ion-col size="12" size-md="6" class="first-col">
      <div class="center-text fade-in-now">
        <h1>
          <span class="fade-in-next">BIG</span>
          <span class="fade-in-next"> TEXT </span><br>
          <span class="fade-in-next">GOES HERE</span>
        </h1>
    
      </div>
      <div class="info">
        <p>Some random text goes here that should highlight what we do</p>
        <ion-button fill="outline"color="light" style="margin-right:15px;" (click)="scrollTo()">SEE MORE</ion-button>
        <ion-button fill="solid"color="light">SIGN UP</ion-button>

      </div>
    </ion-col>
    <ion-col size="12" size-md="6" class="ion-text-center second-col" >
        <img src="/assets/img/drakeBakes16-12.png">
    </ion-col>
  </ion-row>
  
  <div class="bottom"  *ngIf="isTop" [@fadeInOut]>
    <ion-button fill="clear" (click)="scrollTo()" shape="round">
      <ion-icon color="light" name="chevron-down-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="scroll"></div>
</div>


