<ion-content>
  <div class="page-container">
    <h1 >Returns</h1>


<p> We want you to be completely satisfied with your purchase. If, for any reason, your cap is nod everything you had hoped for, please email info@nodcaps.com and one of the team will help you out.</p>
<p>We happily accept the return of unused and undamaged items and will send a full refund, minus any original shipping fees, in the form of the original payment. </p>
<ul>
  <li>Please make sure you email the team within 28 days of receiving your item(s) to begin the refund process</li>
  <li>Items should be returned in new condition with tags attached</li>
  <li>Items should be returned in the original packaging</li>
</ul>


<h3><strong>FAQs</strong></h3>
<p><strong>How many days do I have to return my order?</strong></p>
<p>Returns are accepted up to 28 days after receiving your order</p>

<p><strong>How many days do I have to return my order?</strong></p>
<p>Returns are accepted up to 28 days after receiving your order</p>

<p><strong>Are returns free?</strong></p>
<p>Unfortunately as a small, independent business, we are unable to offer free returns.</p>

<p><strong>Can I exchange a nod product? </strong></p>
<p>We unfortunately do not offer direct exchanges.  To exchange an item, get in touch with us to return and receive a refund for the original item and then place a new order on our website.</p>





</div>
    
   <app-footer></app-footer>
  </ion-content>