.top-section{
    .close{
        position:absolute;
        top: 5px;
        font-size:20px;
        right: -5px;
    }
    padding: 20px;
    text-align: center;
    display: flow-root;
    img{
        max-width: 85px;
    }

    p{
        color: #212529;
        text-align: left;
    }
    .fs20{
        font-size:22px;
        font-weight: bold;
        margin-bottom: 10px;
    }

}


.sign-up{
    padding: 0px 20px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


@media( max-width: 768px) {

}

