

.container {
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: var(--secondary-color);
    position: relative;
    transition: all .8s ease;
   margin-left: auto;
   margin-right: auto;
     margin-bottom:50px;
    border-radius: 10px;
  }

  
  .intersect3{
    
      .container {
        animation: slideUp 1.5s ease forwards;
        -webkit-animation: slideUp 1.5s ease forwards;
        
      }
   
   
  }
ion-row{
  height:200px;
}


ion-col{
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}
.secone{
  background:#994836;
  h2{
    margin: auto;
    font-weight: bold;
    font-size:40px;
  }
}
.sectwo{
  background:#fff;
  p{
    padding: 5px 20px;
    text-align: center;
    color: #737373;

  }
}
.secthree{
  background:#ddd;
  border-radius: 0px 3px 3px 0px;
}



  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }


  

