ion-row{
  // margin-bottom:30px;

}

ion-card:hover {
  transform: scale(1.05);
  animation: scaleUp 0.75s ease forwards;
  -webkit-animation: scaleUp 0.75s ease forwards;
  .shop-button-hover{
    display:flex;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100px;
    left: calc(50% - 50px);
    animation: slideUpBut 0.75s ease forwards;
    -webkit-animation: slideUpBut 0.75s ease forwards;
  }
}

.shop-button-hover{
 display:none;
}

h1{
margin-left:15px;
color: #212529;
font-size:40px;
    font-weight: bold;
}

.collection-div{
  padding:70px 30px;
}

.banner-swiper {
  width:100%;
  max-height: 400px;
  overflow: hidden;
  img {
    width:100%;
  }
}

.section2 h2{
  color:#212529;
  font-size: 30px;
    margin-bottom: 30px;
    font-weight:bold;
}

.swiper-holder{

  animation: slideUp 1.5s ease ;
  -webkit-animation: slideUp 1.5s ease ;
  padding: 115px 35px;
  position: relative;
  background-image: -webkit-linear-gradient(270deg, #ffffff 45%, #22472a 45%);
  position: relative;
  h2{
   
    text-align: center;
  }
  .nav-button{
    height: 40px;
      width: 40px;
      --border-radius: 50%;
      --padding-start:0px;
      --padding-end:0px;
      position: absolute;
      top: calc(50% - 40px);
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .right{
    right: 5px;
  }
  .left {
    left:5px;
  }
}

.hide{
  display: none;
}


@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scales(1.05);
  }
}


@keyframes slideUpBut {
  0% {
    transform: translateY(20px);
    opactiy: 0%;
  }
  100% {
    transform: translateY(0px);
    opactiy:100%;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scales(0.9);
  }
}

.notActive{
  animation: scalesDown 0.5s ease ;
  -webkit-animation: scaleDown 0.5s ease ;
  transform:scale(0.9);
  img, .text-holder{
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
  }
}

.text-holder{
  position: absolute;
    top: 0px;
    text-align: left;
    padding: 65px;
    color: #f8f9fa;
}



.green-info-section{
  
    background-image: url('/assets/img/hiking-header.jpg');
    background-position: center;
  p{
    color: #f8f9fa;
    font-size:20px;
  }
  ion-col{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    background:rgba(0, 0, 0, 0.85);
  }
}


.photo-description{
  font-size: 15px;
}