<div class="section2">
  <div class="collection-div">

  <h2>The Original Collection</h2>
    <app-cap-display [capArray] = "caps"></app-cap-display>
    <app-top-caps *ngIf="!caps"></app-top-caps>  
</div>
  
  


<div   [lazyLoad]="'https://projecttwo-c4839.web.app/assets/img/hiking-header.jpg'" class="green-info-section">
    <ion-row>
      <ion-col size="12" size-md="4" class="ion-text-center">
        <h2>Why We Started</h2>

        <p>We always struggled to find unique caps, which weren't produced by named brands.  We are hoping to bring you new colours, collections and styles in the future so hold onto your hats!        </p>
          <a class="ion-button" [routerLink]="['/shop']">SHOP NOD</a>

      </ion-col>
      <ion-col size="12" size-md="4" class="ion-text-center">
        <h2>Who We Are</h2>
        <p>We are a small team based in Edinburgh focusing exclusively on producing quality caps for anyone to wear. Hopefully you like them!</p>
        <a class="ion-button" [routerLink]="['/shop']">BUY CAPS</a>
       
      </ion-col>
      <ion-col size="12" size-md="4" class="ion-text-center">
        <h2>The Ideal Gift</h2>
        <p>Everyone loves a cap! So think of us next time you're last minute googling “Presents for under £25”.   With one-size fits all,  there's no need to worry about choosing the right size. 
</p>
       <a class="ion-button" [routerLink]="['/shop']">FIND A GIFT</a>n

      </ion-col>
    </ion-row>
</div>


<app-social-slider></app-social-slider>

<app-our-caps [dark]="false"></app-our-caps>


</div>
