<div class="section1">

    

  <ion-row class="row">
    <ion-col size="12" size-md="6">
      <div class="title">
        <h1>Be in control and choose the content you want to see</h1>
        <p>Set your music tastes in MyTrax and our discover feed will only show you new videos featuring music you will like!</p>
      </div>
    </ion-col>
    <ion-col size="12" size-md="6">
      <div class="features">
      <ion-item lines="none" style="border-bottom: 1px solid #4444442b;">
        <ion-icon slot="start" name="options-outline"></ion-icon>
        <p> Select your music tastes to only see content relevant to you</p>
      </ion-item>
      <ion-item lines="none" style="border-bottom: 1px solid #4444442b;">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        <p> Follow your favourite artists to see their new content</p>
      </ion-item>
      <ion-item lines="none" style="border-bottom: 1px solid #4444442b;">
        <ion-icon slot="start" name="play-outline"></ion-icon>
        <p> Add featured music straight to your spotify playlist</p>
      </ion-item>
      <ion-item lines="none" >
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <p>Find events near you showcasing music you love</p>
      </ion-item>
       
       
        
      </div>
    </ion-col>
  </ion-row>
   
</div>


