
<ion-content>
  <div class="form-holder" *ngIf="!mailSent">

    <div class="ion-text-center">
      <h1>Contact Form</h1>
      <p>Have a question? We'd love to hear from you! </p>
      <p>Please fill in the form below or email info@nodcaps.com and one of the team will get back to you.</p>
      <p>If you have a query relating to an existing order, please include the order reference number in your message which can be found on your order confirmation email.</p>

    </div>
    

    <form [formGroup]="contactForm">

    <ion-item lines="none">
      <ion-label position="stacked">Name</ion-label>
      <ion-input  formControlName="name" placeholder="Your name..."></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.name">
      <ng-container *ngIf="name?.hasError(error.type) && (name?.dirty || name?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-item lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input  type="email"  formControlName="email"placeholder="Your email..."></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.email">
      <ng-container *ngIf="email?.hasError(error.type) && (email?.dirty || email?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    

    <ion-item lines="none">
      <ion-label position="stacked">Message</ion-label>
      <ion-textarea  formControlName="message" rows="6" placeholder="Enter your text..."></ion-textarea>
    </ion-item>
    <div *ngFor="let error of errorMessages.message">
      <ng-container *ngIf="message?.hasError(error.type) && (message?.dirty || message?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    </form>

    <div class="button-holder">
      <ion-button [disabled]="!contactForm.valid" shape="round" color="tertiary" (click)="sendEmail()"><span *ngIf="!sending">Send Message</span><ion-spinner *ngIf="sending"></ion-spinner></ion-button>
    </div>
  </div>
  <div class="form-holder" *ngIf="mailSent">
    <div class="ion-text-center">

    <h1>Message Sent</h1>
    <p>Thank you for getting in touch - one of the team will get back to you as soon as possible. Have a great day! </p>
    <p class="mt45">Whilst you're here, join our mailing list for discounts and new cap updates! </p>
    <app-sign-up></app-sign-up>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
