
<ion-content>
  <div class="form-holder">
    <h1>Contact Form</h1>
    <p>Please get in touch with any shite and a member of the team will get back to you.</p>

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input placeholder="Your name..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input placeholder="Your email..."></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-label position="stacked">Message</ion-label>
      <ion-textarea rows="6" placeholder="Enter your text..."></ion-textarea>
    </ion-item>

    <div class="button-holder">
      <ion-button fill="outline" color="dark">Send Message</ion-button>

    </div>
  </div>
</ion-content>
