<div class="container">
  <ion-buttons class="dismiss">
    <ion-button color="dark"(click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <h1>Add A Review</h1>
  <p>Please let us and everyone else know about the cap and your experience with us, unless its really bad. Then just email us...</p>

  <div class="choose-star">
    <p>Select your rating:</p>
    <ion-icon (click)="selectRating(i)" *ngFor="let star of stars; let i= index" (mouseover)="highlight(i)" (mouseout)="dehighlight()" name="star" [ngClass]= "highlightIndex > i || selectedIndex > i? 'highlight': ''"></ion-icon>
  </div>


  
  <form [formGroup]="reviewForm">

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input  formControlName="name" placeholder="Your name..."></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.name">
      <ng-container *ngIf="name?.hasError(error.type) && (name?.dirty || name?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    

    <ion-item>
      <ion-label position="stacked">Message</ion-label>
      <ion-textarea  formControlName="message" rows="6" placeholder="Enter your review..."></ion-textarea>
    </ion-item>
    <div *ngFor="let error of errorMessages.message">
      <ng-container *ngIf="message?.hasError(error.type) && (message?.dirty || message?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    </form>

    <div class="button-holder">
      <ion-button (click)="addReview()" [disabled]="!reviewForm.valid || !rating" shape="round" color="tertiary" ><span *ngIf="!sending">Send Review</span><ion-spinner *ngIf="sending"></ion-spinner></ion-button>
    </div>
 

</div>
