.container{
    padding: 25px;
}

h1 {
    color:#22472a;
}


.choose-star{
    text-align: center;
    margin-top: 20px;
    margin-bottom:20px;
    ion-icon{
        font-size: 30px;
        margin-right:5px;
        color: #a3a3a3;
        cursor: pointer;
    }
}

.highlight{
    color: var(--ion-color-tertiary)!important;
}

.button-holder{
    margin-top:20px;
}

.dismiss{
    position: absolute;
    top:10px;
    right:10px;
}

ion-item{
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom:15px;
}
