<ion-grid>
  <ion-row>
      <ion-col size="12" size-md="6" size-xl="3">
      <ion-item lines="none">
        <div class="center-item">
          <ion-icon slot="start" name="gift-outline"></ion-icon>
          <span>SEND AS GIFT</span>
        </div>
      </ion-item>
    </ion-col>
      <ion-col size="12" size-md="6" size-xl="3">
        <ion-item lines="none">
          <div class="center-item">
            <ion-icon slot="start" name="mail-outline"> </ion-icon>
            <span>FREE DELIVERY</span>
          </div>
        </ion-item>
    </ion-col>
    <ion-col size="12" size-md="6" size-xl="3">
    
      <ion-item lines="none">
        <div class="center-item">
          <ion-icon slot="start" name="color-palette-outline"></ion-icon>
          <span>DESIGNED IN SCOTLAND </span>
        </div>
      </ion-item>
    </ion-col>
  
    <ion-col size="12" size-md="6" size-xl="3">
      <ion-item lines="none">
        <div class="center-item">
          <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
          <span>SAFE AND SECURE CHECKOUT</span>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
