ion-grid{
    background:#212529;
}

ion-row {
    background:#212529;
}

swiper{
    padding-bottom: 20px;
}

ion-item{
    --background:#212529;
    color: #f8f9fa;
    overflow:visible;
    ion-icon{
        color: #7AC08E;
        margin-inline-end: 10px;
        font-size:35px;
    }
}

.center-item{
    position: relative;
    min-height:80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        margin-top:6px;
    }
}