<swiper #boastSwiper [config]="boastConfig">
  <ng-template swiperSlide>
    <ion-item lines="none">
      <div class="center-item">
        <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
        <span>SECURE CHECKOUT</span>
      </div>
    </ion-item>
  </ng-template>
  <ng-template swiperSlide>
    <ion-item lines="none">
      <div class="center-item">
        <ion-icon slot="start" name="color-palette-outline"></ion-icon>
        <span>DESIGNED IN SCOTLAND </span>
      </div>
    </ion-item>
  </ng-template>
  <ng-template swiperSlide>
    <ion-item lines="none">
      <div class="center-item">
        <ion-icon slot="start" name="mail-outline"> </ion-icon>
        <span>FREE DELIVERY</span>
      </div>
    </ion-item>
  </ng-template>
  <ng-template swiperSlide>
    <ion-item lines="none">
      <div class="center-item">
        <ion-icon slot="start" name="storefront-outline"> </ion-icon>
        <span>SUPPORT A SMALL BUSINESS</span>
      </div>
    </ion-item>
  </ng-template>
  <ng-template swiperSlide>
    <ion-item lines="none">
      <div class="center-item">
        <ion-icon slot="start" name="gift-outline"></ion-icon>
        <span>THE IDEAL GIFT</span>
      </div>
    </ion-item>
  </ng-template>
 
  <div class="swiper-pagination"></div>

</swiper>
