<ion-content>
  <div class="page-container">
    <h1>Privacy Policy</h1>
    <p>We will always keep any data you provide to us safe and secure. This Privacy Policy summarises why we need your data and how we use it.  By using our service, you agree to the collection and use of information in accordance with this Privacy Policy.
    It is possible view our site without providing any personal details but you won't be able to purchase caps without sharing your details. 
    </p>
  
    <h2>Information we collect</h2>

   <p> We may collect the following data about you. We'll only collect information where it is knowingly provided by you. For example, when you: </p>
<ul> <li>Sign up to our mailing list</li>
<li>Purchase a product from our website</li>
<li>Email us directly/ Contact us</li>
<li>Leave a review</li>
</ul>

<p>The type of personal information we may collect includes:</p>
<ul><li>Name</li>
<li>Delivery Address </li>
<li>Email address</li>
</ul>


<h2>What we do with the information we collect</h2>

<p>We use the personal information to provide for:</p>
<ul>
  <li>Fulfilling orders - we need to complete orders you make on the site, send you email confirmations and deliver your caps</li>

<li>Customer service purposes - so we can reply to any queries you send through</li>
<li>Internal record keeping - so you can view previous orders made </li>
<li>Send promotional emails about new products or special offers which we think may be of interest to you</li></ul>

<p>We only collect information that is used for contacting you or sending orders with your consent.</p>


<h2>Who we share your information with:</h2>
<ul>
<li> We use <a href="https://sendgrid.com/">SendGrid</a> to store email sign up information and to send out our marketing emails.</li>
<li>We use Firebase (Google's web and app application) to provide analytics, software and crash reports for this website.</li>
<li>We use <a href="https://www.royalmail.com/">Royal Mail</a> to deliver your cap to your door so therefore need to share your details with them</li>
<li>As a payment provider, we use <a href="https://stripe.com/gb">Stripe</a> so your information will therefore also be shared with Stripe when completing an order with us.  Please note that any card details are held securely by Stripe and cannot be accessed by us.</li>
<li>We use <a href="https://about.meta.com/">meta</a> pixel tags in order to measure, optimise and build audiences for ad campaigns. You can think of this as an analytics tool that allows us to measure the effectiveness of advertising by understanding the actions that people take on our website.</li>
</ul> 

<p>On the entry of your information, requested, from our website is held on our secure platform, Google Firebase. This is protected by all methods necessary. Only the required personnel have access to this information.</p>

<p>We do not sell, rent, loan, or transfer any personal information regarding our customers to any unrelated third parties. We are committed to protecting your privacy. In addition to nod caps guidelines, your personal data is protected according to the applicable law in respective markets.</p>

<h2>GDPR</h2>
<p>If you are a resident of the EEA, you have the right to access the Personal Information we hold about you and to ask that your Personal Information be corrected, updated, or erased. If you would like to exercise these rights, please contact us through the contact information below</p>  


<h2>Cookies</h2>

<p>Cookies are not used to identify individuals - only demographic groups. 
  We use cookies when you visit our site to give you a better experience and to analyse our website traffic. You can choose to not allow some cookies but this may impact your experience on the site.</p>

  <h4>What are cookies?</h4>
  <p>Cookies are data files which can hold small amounts of info and they are stored on your device (computer, smartphone, etc) when you first visit a website.</p>

  <h4>How we use cookies</h4>
  <p>We use cookies for:</p>

   <ul><li> Site navigation</li>
   <li> Allowing you to add items to your basket</li>
   <li>Analysing users and their behaviours on the site</li>
   <li>Helping us determine whether you came to nodcaps from a particular Internet link or banner advertisement.</li>
   <li>Helping us m
    easure optimize and build audiences for your ad campaigns.</li>
  <li>Identifying returning users</li></ul>

  
   <p>When someone visits accepts our analytics cookies, we use <a href="https://analytics.google.com/">Google Analytics</a> to collect standard internet log information and details of visitor behaviour patterns. We do this to find out things such as the number of visitors to the various parts of the site. This information is only processed in a way which does not identify anyone</p>
   <p>When someone visits accepts our targeting cookies, we use <a href="https://about.meta.com/">meta</a> pixel tags to  add a snippet of JavaScript code that allows us to track visitor activity on the website. We use thos to measure the effectiveness of ads, to define custom audiences for ad targeting, for Advantage+ catalog ads campaigns, and to analyze that effectiveness of  our website's conversion funnels.</p>



<h2>Changes</h2>
<p>We may update this Privacy Policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.</p>   
<h2>Contact Us</h2>

<p>If you have any questions, you can contact us at info@nodcaps.com</p>

</div>
    
  <app-footer></app-footer> 
  </ion-content>