<ion-app>
 <app-header></app-header>
  <div class="scully-div">
      <div class="center-holder">
        <img class="feather-logo" src="./assets/img/logos/feather-logo-white.png">
        <br>
        <img class="nod-logo" src="./assets/img/logos/nod-text-logo-white.png">
        <p>Something funny about loading...</p>
        <img class="loading-dots" src="./assets/img/three-dots.svg">
      </div>
  </div>
   <!--below div is added for the ion-menu to work in scully, needs the id to attach to and cant use the ion-route-outlet in scully. -->
  <div id="main" class="main-holder"> 
    <ion-router-outlet  class="mt"></ion-router-outlet>
 </div> 
    
</ion-app>

