ion-content{
    --background: white;
}

.basket-container{
    max-width: 800px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    margin-top:65px;
}

h1 {
    color: #22472A
}

@media(max-width: 768px) {
    ion-content{
        margin-top: 56px;
    }
}

ion-buttons{
    justify-content: center;
}

.sign-up{
    max-width:400px;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
    background: #ececec;
}