<ion-content>
<div class="page-container">
  <h1>Important Pages</h1>
  <p>Find the key pages below and if there is any further info you are looking for please feel free to contact us <a href="contact">here</a>.</p>
  
    <ion-button fill="clear" (click)="goTo('about')">About</ion-button><br>
    <ion-button fill="clear" (click)="goTo('terms')">Terms and Conditions</ion-button><br>
    <ion-button fill="clear" (click)="goTo('returns')">Returns and Refunds</ion-button><br>
  
</div>
  
 
</ion-content>

