.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
}
ion-row{
    margin-top:50px;
    margin-bottom: 50px;
}

ion-toolbar {
    ion-title{
        color:#22472a;
    }
}