<ion-row>
  <ion-col size="12" size-sm="4" class="center">
    <ion-button shape="round" color="tertiary" (click)="goTo('contact')">Contact Us</ion-button>
  </ion-col>
  <ion-col size="12" size-sm="4" >
    <p (click)="goTo('about')"> About</p>
    <p  (click)="goTo('terms')"> Terms and Conditions</p>
    <p  (click)="goTo('delivery-returns')"> Delivery and Returns</p>
    <p  (click)="goTo('privacy')"> Privacy and Cookies</p>
  </ion-col>
  <ion-col size="12" size-sm="4" class="center">
   <app-social-buttons></app-social-buttons>
  </ion-col>
</ion-row>

<ion-footer color="light">
  <ion-toolbar>
    <ion-title>
      nod caps 2022
    </ion-title>
  </ion-toolbar>
</ion-footer>

