<ion-row>
  <ion-col size="12" size-xl="3" size-lg="6"  class="email-text ion-hide-md-up" >
    <p><strong>BE THE FIRST TO HEAR ABOUT OUR NEW CAPS</strong></p>
    <p>Join our mailing list to get a heads up about our nod cap updates and discount codes.  Don’t worry though, you’ll only hear from us time to time. </p>
   </ion-col>
   <ion-col size="12"  size-lg="6" size-xl="4"  class="sign-up ion-hide-md-up">
    <app-sign-up [inFooter]="true"></app-sign-up>
   </ion-col>
  <ion-col size="12"   size-md="6" size-xl="2" >
    <img class="nod-logo" alt="nod caps logo" src="./assets/img/logos/nod-text-logo-white.png">
    <app-social-buttons></app-social-buttons>
    <a class="ion-button contact-us" [routerLink]="'/contact'">Contact Us</a>

  </ion-col>
  <ion-col class="links" size="6"  size-md="3" size-xl="1.5" >
    <p><strong>HELP</strong></p>
    <a [routerLink]="'/contact'">Contact Us</a><br>
    <a [routerLink]="'/delivery-returns'">Delivery Info</a><br>
    <a [routerLink]="'/delivery-returns'">Returns</a>
  </ion-col>
  <ion-col class="links" size="6"   size-md="3"size-xl="1.5" >
    <p><strong>NOD CAPS</strong></p>
    <a  [routerLink]="'/about'">About Us</a><br>
    <a  [routerLink]="'/terms'">Terms & Conditions</a><br>
    <a [routerLink]="'/terms'">Privacy Policy</a>
  </ion-col>
  <ion-col size="12" size-xl="3" size-lg="6"  class="email-text ion-hide-md-down" >
   <p><strong>BE THE FIRST TO HEAR ABOUT OUR NEW CAPS</strong></p>
   <p>Join our mailing list to get a heads up about our nod cap updates and discount codes.  Don’t worry though, you’ll only hear from us time to time. </p>
  </ion-col>
  <ion-col size="12"  size-lg="6" size-xl="4"  class="sign-up ion-hide-md-down">
  <app-sign-up [inFooter]="true"></app-sign-up>
  </ion-col>
</ion-row>



