<ion-content>
  <div class="page-container">
    <h1 class="ion-text-center">Our Story</h1>
    <h3><strong>Who We Are</strong></h3>
<p>We are a small team based in Edinburgh focusing exclusively on producing quality caps for anyone to wear. Hopefully you like them!  </p>
<h3><strong>Why We Started</strong></h3>
<p>We always struggled to find unique caps, which weren't produced by named brands.  We are hoping to bring you new colours, collections and styles in the future so hold onto your hats!
</p>
<p>As a small, two-person team based in Scotland, we're not trying to reinvent the wheel, we're just on a mission to provide something that we couldn't find and create cappy customers .
</p>
<p>If you've read this far, then hats off to you - it's time to go get your hands on our own cap now! </p>
  </div>
    
   <app-footer></app-footer>
  </ion-content>