<ion-row class="row">
  <ion-col size="12" size-xl="3"  size-lg="4" size-md="6">
    <a [routerLink]="'/shop/The-Original-Collection/Down-to-Earth'">
      <ion-card>
        <div class="image-holder">
          <img loading="lazy" class="cap-skel" [alt]="'Down to Earth | nod caps'" [src]="'https://firebasestorage.googleapis.com/v0/b/projecttwo-c4839.appspot.com/o/images%2Fcaps%2FThe-Original-Collection%2FDown-to-Earth-1.jpg?alt=media&token=0921706f-8f91-43a3-9674-69edb2fadbf6'">
        </div>
        <ion-card-header>
          <ion-card-title>Down to Earth Dad Cap</ion-card-title>
          <div class="bottom-holder">
            <span class="description" >
              <!--fil this in-->
              Down to Earth is part of the nod caps Original Collection. All of these caps feature a 6 panel design made from 100% cotton.
            </span>
          </div>
        </ion-card-header>
      </ion-card>
    </a>
  </ion-col>
  <ion-col size="12" size-xl="3"  size-lg="4" size-md="6">
    <a [routerLink]="'/shop/The-Original-Collection/Daily-Driver'">
      <ion-card>
        <div class="image-holder">
          <img loading="lazy" class="cap-skel" [alt]="'Daily Driver | nod caps'" [src]="'https://firebasestorage.googleapis.com/v0/b/projecttwo-c4839.appspot.com/o/images%2Fcaps%2FThe-Original-Collection%2FDaily-Driver-1.jpg?alt=media&token=160e299d-3a66-47d6-8d66-9cd05bb0461f'">
        </div>
        <ion-card-header>
          <ion-card-title>Daily Driver Dad Cap</ion-card-title>
          <div class="bottom-holder">
            <span class="description" >
              <!--fil this in-->
              Daily Driver is part of the nod caps Original Collection. All of these caps feature a 6 panel design made from 100% cotton.
            </span>
          </div>
        </ion-card-header>
      </ion-card>
    </a>
  </ion-col>
  <ion-col size="12" size-xl="3"  size-lg="4" size-md="6">
    <a [routerLink]="'/shop/The-Original-Collection/Out-of-the-Blue'">
      <ion-card>
        <div class="image-holder">
          <img loading="lazy" class="cap-skel" [alt]="'Out of the Blue | nod caps'" [src]="'https://firebasestorage.googleapis.com/v0/b/projecttwo-c4839.appspot.com/o/images%2Fcaps%2FThe-Original-Collection%2FOut-of-the-Blue-1.jpg?alt=media&token=010eafb3-8499-4261-abc5-4409ab2dcee0'">
        </div>
        <ion-card-header>
          <ion-card-title>Out of the Blue Dad Cap</ion-card-title>
          <div class="bottom-holder">
            <span class="description" >
              <!--fil this in-->
              Out of the Blue is part of the nod caps Original Collection. All of these caps feature a 6 panel design made from 100% cotton.
            </span>
          </div>
        </ion-card-header>
      </ion-card>
    </a>
  </ion-col>
</ion-row>
