<ion-row class="row">
  <ion-col size="12" size-xl="3"  size-lg="4" size-md="6">
    <a [routerLink]="'/shop/The-Original-Collection/Black-Sheep/'">
      <ion-card class="fake">
        <div class="image-holder">
          <img loading="lazy" class="cap-skel" [alt]="'Black Sheep | nod caps'" [src]="'https://nod-caps.web.app/assets/img/The-Original-Collection/Black-Sheep-Mobile.jpg'">
        </div>
        <ion-card-header>
          <ion-card-title>Black Sheep Baseball Cap</ion-card-title>
          <div class="bottom-holder">
            <span class="description" >
              This black casual baseball cap featuring our signature feather logo is the perfect accessory to grab on your way out the door. With an adjustable rear buckle strap, all the nod Original Collection caps offer a relaxed and unstructured fit for that laid-back, not trying too hard look.
            </span>
          </div>
        </ion-card-header>
      </ion-card>
    </a>
  </ion-col>
  <ion-col size="12" size-xl="3"  size-lg="4" size-md="6">
    <a [routerLink]="'/shop/The-Original-Collection/Devil-Wears-nod/'">
      <ion-card class="fake">
        <div class="image-holder">
          <img loading="lazy" class="cap-skel" [alt]="'Devil Wears nod | nod caps'" [src]="'https://nod-caps.web.app/assets/img/The-Original-Collection/Devil-Wears-nod-Mobile.jpg'">
        </div>
        <ion-card-header>
          <ion-card-title>Devil Wears nod Baseball Cap</ion-card-title>
          <div class="bottom-holder">
            <span class="description" >
              As the brighter and bolder option of the Original Collection, the Devil Wears nod baseball cap is a real head-turner. This six panel, 100% cotton dad cap is designed to be worn anywhere and everywhere.  With a relaxed fit and rear adjustable strap. 
            </span>
          </div>
        </ion-card-header>
      </ion-card>
    </a>
  </ion-col>
  <ion-col size="12" size-xl="3"  size-lg="4" size-md="6">
    <a [routerLink]="'/shop/The-Original-Collection/Down-to-Earth/'">
      <ion-card class="fake">
        <div class="image-holder">
          <img loading="lazy" class="cap-skel" [alt]="'Down to Earth | nod caps'" [src]="'https://nod-caps.web.app/assets/img/The-Original-Collection/Down-to-Earth-Mobile.jpg'">
        </div>
        <ion-card-header>
          <ion-card-title>Down To Earth Baseball Cap</ion-card-title>
          <div class="bottom-holder">
            <span class="description" >
              Sunny days, rainy days, windy days, cold days - these are all perfect conditions to throw on a baseball cap.  Our 100% cotton, Down to Earth dad cap provides a fuss-free look to finish off any outfit making it a year-round essential. 
            </span>
          </div>
        </ion-card-header>
      </ion-card>
    </a>
  </ion-col>
  <ion-col size="12" size-xl="3"  size-lg="4" size-md="6">
    <a [routerLink]="'/shop/The-Original-Collection/Out-of-the-Blue/'">
      <ion-card class="fake">
        <div class="image-holder">
          <img loading="lazy" class="cap-skel" [alt]="'Out of the Blue | nod caps'" [src]="'https://nod-caps.web.app/assets/img/The-Original-Collection/Out-of-the-Blue-Mobile.jpg'">
        </div>
        <ion-card-header>
          <ion-card-title>Out of the Blue Baseball Cap</ion-card-title>
          <div class="bottom-holder">
            <span class="description" >
              Whether you're taking the dog for a walk or just trying to cover up a bad hair day, this Out of the Blue nod dad cap is sure to get the nod of approval. Our light blue baseball cap's rear buckle strap can be adjusted for the perfect fit.
            </span>
          </div>
        </ion-card-header>
      </ion-card>
    </a>
  </ion-col>
</ion-row>
