.cap-row{
    margin:30px;
}

ion-content{
    --padding-bottom:100px;
}
.top-text{
    padding:15px 30px;
    text-align: center;
    max-width: 800px;
    color: #f8f9fa;
    margin:auto;
}
.top-row{
    background: #22472A;
    padding-bottom: 30px;
}

h1{
    font-size:40px;
}

.caps-div{
    padding: 10px;
}

@media (max-width: 768px) {
    .top-row{
        padding-top:40px;
    };
}