.cap-row{
    margin:30px;
    min-height:300px;
    opacity: 1;
    ion-col{
        animation: slideIn ease 0.6s;
        -webkit-animation: slideIn ease 0.6s;}
}

.starting-with{
    h1{
        color:#22472A
    }
    ion-col{
        padding: 40px;
    }
    .second-col{
        text-align: center;
        img {
            border-radius: 20px;
        }
    }
    
  
}

.top-row-new{
    height:250px;
    position: relative;
    img{
      object-fit:cover;
      height:100%;
      width:100%;
    }
    .top-text{
        height:100%;
        width:100%;
        position: absolute;
        bottom: 0px;
        padding: 50px 25px;
        text-align: center;
        color: #f8f9fa;
        background: rgba(0,0,0,0.4);
    }
}

/*
.top-row{
    background-image: url('/assets/img/hiking-header.jpg');
    background-position: center;
    background-size: cover;
    .top-text {
        background: rgba(0,0,0,0.75);
        text-align: center;
        height: 100%;
        width: 100%;
        text-align:center;
        color:#f8f9fa;
        padding:15px 25px 20px 25px;
    }
    h1{
       font-size: 40px;
    }
    h1,p{
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
  }*/


.caps-div{
    padding: 20px 10px;
    h2 {
        margin-left: 30px;
        color: #22472a;
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .top-row{
       margin-top:44px;
    };
    .caps-div h2{
        margin-left: 10px;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(100px);   
    opacity:0 }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }
.caps-holder{
    min-height:300px;
}

