<ion-content>
  <div class="page-container four-o-four">
    <h1><strong>Oh no... this is </strong> <img  alt="nod caps logo" src="./assets/img/logos/nod-text-black.png"> <strong>good!</strong> </h1>


    <div class="collection-div">

      <h2>The Original Collection</h2>

        <app-cap-display [capArray] = "caps"></app-cap-display>
        <app-top-caps *ngIf="caps.length === 0"></app-top-caps>  
        
    </div>
    
    <a class="ion-button first-but" [routerLink]="['/home']">BACK HOME</a>
    <a class="ion-button" [routerLink]="['/contact']">CONTACT US</a>


  </div>
  <app-footer></app-footer>
</ion-content>