<ion-content>

  <ion-row>
    <ion-col size="12" size-md="2" class="preview-images">
      <div *ngIf="cap?.imageField1">
        <img (click)="makeActive(cap?.imageField1)" (mouseover)="hoverImg(cap?.imageField1)" (mouseout)="hoverImgOut()" [src]="cap?.imageField1" [ngClass]="activeCap === cap?.imageField1 ? 'active-cap' : ''">
      </div>
      <div *ngIf="cap?.imageField2">
        <img (click)="makeActive(cap?.imageField2)" (mouseover)="hoverImg(cap?.imageField2)" (mouseout)="hoverImgOut()" [src]="cap?.imageField2" [ngClass]="activeCap === cap?.imageField2 ? 'active-cap' : ''">
      </div>
      <div *ngIf="cap?.imageField3">
        <img (click)="makeActive(cap?.imageField3)"  (mouseover)="hoverImg(cap?.imageField3)" (mouseout)="hoverImgOut()" [src]="cap?.imageField3" [ngClass]="activeCap === cap?.imageField3 ? 'active-cap' : ''">
      </div>
      <div *ngIf="cap?.imageField4">
        <img  (click)="makeActive(cap?.imageField4)"  (mouseover)="hoverImg(cap?.imageField4)" (mouseout)="hoverImgOut()" [src]="cap?.imageField4" [ngClass]="activeCap === cap?.imageField4 ? 'active-cap' : ''">
      </div>
    </ion-col>
    <ion-col size="12" size-md="5" class="main-image">
      <img [src]="activeCap">
    </ion-col>
    <ion-col size="12" size-md="5" class="description-col">
        <h1>{{cap?.name}}</h1>
        <h2><i>{{cap?.colelction}}</i></h2>
        <ion-icon class="star" name="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon class="star" name="star"></ion-icon>
        <ion-icon class="star" name="star"></ion-icon>
        <ion-icon class="star" name="star"></ion-icon>
        <h2 class="review-count">(29)</h2>
        <h1 class="price">£{{cap?.price}}</h1>
        <ion-item>
          <ion-label>Quantity:</ion-label>
          <ion-input type="number" [(ngModel)]="quantity" required="true" clearInput=true min="0" max="5" value="1"></ion-input>
        </ion-item>   
        <p>{{cap?.description}}</p>  
        <ion-button fill="outline"color="dark" (click)="addToBasket(cap)">ADD TO BASKET</ion-button>
        <ion-button (click)="checkoutFirebase()">stripe testing</ion-button>

        <div class="extras-box">
          <ion-item class="delivery" lines="none">
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-label>Delivery info</ion-label>
          </ion-item>    
          <ion-item class="plant-tree" lines="none">
            <ion-icon slot="start" name="leaf"></ion-icon>
            <ion-label>Plant a tree with each purhcase</ion-label>
          </ion-item>      
         </div>
      </ion-col>
  </ion-row>

  <ion-row class="learn-more">
    <ion-col size="12" size-md="4" class="learn-more-header">
      <h1>about our hats</h1>
    </ion-col>
    <ion-col size="12" size-md="7" class="learn-more-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
    </ion-col>
    <ion-col size="12" size-md="1"></ion-col>
  </ion-row>



  <h2>Other caps from this collection</h2>
  <ion-row>


  
    <ion-col size="12" size-md="3" *ngFor="let otherCap of otherCaps" [ngStyle]="{'display':otherCap.name === cap.name ? 'none' : 'block' }" >
      <ion-card (click)="goToHat(otherCap)">
        <img [src]="otherCap?.imageField1">
        <ion-card-header>
          <ion-card-title>{{otherCap?.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{otherCap?.description}}            
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="other-info">
    <ion-col size="12" size-md="1"></ion-col>
    <ion-col size="12" size-md="7" class="other-info-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
    </ion-col>
    <ion-col size="12" size-md="4" class="other-info-header">
      <h1>other info</h1>
    </ion-col>
  </ion-row>


</ion-content>
