<ion-content>
<ion-row  class="cap-row">
   <!-- <ion-col size="12" size-md="2" size-lg="1" offset-lg="1.5" class="preview-images ion-hide-md-down">
    </ion-col>-->
    <ion-col size="12" size-md="7" size-lg="5" offset-lg="1" class="main-image ">

      <img *ngIf="!cap && !isMobile" [alt]="capName + ' image 1 | nod caps'" [src]="preLoadCap.imageLarge">
      <img *ngIf="!cap && isMobile" [alt]="capName + ' image 1 | nod caps'" [src]="preLoadCap.imageMobile">

      <swiper  class="hat-swiper" #hatSwiper [config]="hatConfig"  *ngIf="cap">
        <ng-template swiperSlide class="swipe" >
          <img *ngIf="isMobile" [alt]="cap?.name + ' image 1 | nod caps'" [src]="preLoadCap.imageMobile">
          <img  *ngIf="!isMobile" [alt]="cap?.name + ' image 1 | nod caps'" [src]="preLoadCap.imageLarge">

        </ng-template>
        <ng-template swiperSlide class="swipe">
          <img  *ngIf="isMobile" [alt]="cap?.name + ' image 2 | nod caps'" [src]="cap?.imageField2Mobile">
          <img  *ngIf="!isMobile" [alt]="cap?.name + ' image 2 | nod caps'" [src]="cap?.imageField2">


        </ng-template>
        <ng-template swiperSlide class="swipe" >
          <img  *ngIf="isMobile"  [alt]="cap?.name + ' image 3 | nod caps'" [src]="cap?.imageField3Mobile">
          <img  *ngIf="!isMobile" [alt]="cap?.name + ' image 3 | nod caps'" [src]="cap?.imageField3">


        </ng-template>
        <ng-template swiperSlide class="swipe" >
          <img *ngIf="isMobile"  [alt]="cap?.name + ' image 4 | nod caps'" [src]="cap?.imageField4Mobile">
          <img *ngIf="!isMobile"  [alt]="cap?.name + ' image 4 | nod caps'" [src]="cap?.imageField4">


        </ng-template>

      </swiper>

      <ion-button class=" swiper-button-prev swiper-button-prev-hat" color="light" ><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
       <ion-button class=" swiper-button-next swiper-button-next-hat" color="light" ><ion-icon  name="chevron-forward-outline"></ion-icon></ion-button>  

      <div class="preview-images ion-hide-md-down" *ngIf="cap">
        <div *ngIf="cap?.imageField1">
          <img loading="lazy" [alt]="cap?.name + ' image 1 small | nod caps'" [src]="cap?.imageField1Small">

        </div>
        <div *ngIf="cap?.imageField2">
          <img loading="lazy" [alt]="cap?.name + ' image 2 small| nod caps'" [src]="cap?.imageField2Small">

        </div>
        <div *ngIf="cap?.imageField3">
          <img loading="lazy" [alt]="cap?.name + ' image 3 small| nod caps'" [src]="cap?.imageField3Small">

        </div>
        <div *ngIf="cap?.imageField4">
          <img loading="lazy" [alt]="cap?.name + ' image 4 small| nod caps'" [src]="cap?.imageField4Small">

        </div>
      </div>
      <div class="preview-images ion-hide-md-down" *ngIf="!cap">
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>

      </div>
     
    </ion-col>
 
    <ion-col size="12" size-md="5" size-lg="5"  class="description-col">
        <h1>{{capName}} Baseball Cap</h1>
        <div>
          <h2 class="price">£{{cap?.price}}</h2>
          <h2 class="free-delivery" *ngIf="cap?.quantity !== 0">FREE UK DELIVERY</h2>
        </div>


        <div (click) = "scroll()" class="ratings">
          <ion-icon class="star" name="star" *ngFor="let item of [].constructor(wholeStars)"></ion-icon>
          <ion-icon *ngIf="hasHalf" name="star-half" class="star"></ion-icon>
          <div *ngIf="!hasHalf" class="empty-star">
            <ion-icon class="star"  *ngFor="let item of [].constructor(5 - wholeStars)"name="star-outline"></ion-icon>
          </div>
          <div *ngIf="hasHalf" class="empty-star">
            <ion-icon class="star"  *ngFor="let item of [].constructor(4 - wholeStars)"name="star-outline"></ion-icon>
          </div>
          <!--<h2 class="review-count">
            <span  class="rating-no" *ngIf="cap?.numberOfReviews">{{cap?.rating}}</span>
          </h2>-->
          <h2 class="review-count">
            <span *ngIf="cap?.numberOfReviews">({{cap?.numberOfReviews}})</span>
            <span *ngIf="!cap?.numberOfReviews">(0)</span>
          </h2>
        </div>

        <div class="ion-hide-md-down">
        <p class="colour-name">{{cap?.colourName}}</p>

        <div class="colour-holder" [style.border-color]="cap?.colour">
          <div  class="colour-code" [style.background]="cap?.colour">

          </div>
        </div>
        </div>


        <p class="size">ONE SIZE</p>
        

      <div class="quantity-row" *ngIf="cap?.quantity !== 0">
        <div class="quantity-box" *ngIf="!alreadyInBasket && cap?.quantity !== 0">
          <ion-button size="small" fill="clear" color="dark" (click)="changeQuantity('minus')" [disabled] = "quantity < 2">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <span>{{quantity}}</span>
          <ion-button size="small" fill="clear" color="dark" (click)="changeQuantity('plus')">
            <ion-icon name="add-outline"></ion-icon>        
          </ion-button>
        </div>
        <p *ngIf="cap?.quantity < 20 && cap?.quantity > 0" class="cap-quantity">Only {{cap?.quantity}} left in stock!</p>
      </div>


        <div class="out-of-stock" *ngIf="cap?.quantity === 0">
          <p  class="cap-quantity">Out of stock! Follow us on socials for stock updates</p>
          <app-social-buttons [inline]="true"></app-social-buttons>
        </div>
       

        <div class="add-basket" *ngIf="cap?.quantity !== 0">
          <ion-button *ngIf="!alreadyInBasket" shape="round" color="primary" [disabled]="!cap" (click)="addToBasket(cap)">ADD TO BASKET</ion-button>
          <ion-button *ngIf="alreadyInBasket" shape="round" color="primary" (click)="openBasket()">VIEW IN BASKET</ion-button>
        </div>

        <div class="accordion">
      
              <ion-item slot="header"  button="true"  details="none" (click)="accordion(1)" >
                <ion-label>DESCRIPTION</ion-label>
                <ion-icon color="dark" slot="end" name="chevron-down-outline" *ngIf="accordionNumber !== 1"></ion-icon>
                <ion-icon color="dark"slot="end" name="chevron-up-outline" *ngIf="accordionNumber === 1"></ion-icon>

              </ion-item>
              <div class="ion-padding" slot="content" *ngIf="accordionNumber === 1" [ngClass]="accordionNumber === 1 ? 'active':''">
                {{preLoadCap.description}} <br><br>
                With an adjustable rear buckle strap and an embroidered feather logo on the front, it's the perfect accessory to complete any look. 
              </div>
           
              <ion-item slot="header" button="true"  details="none" (click)="accordion(2)">
                <ion-label>PRODUCT DETAILS</ion-label>
                <ion-icon color="dark"slot="end" name="chevron-down-outline" *ngIf="accordionNumber !== 2"></ion-icon>
                <ion-icon color="dark"slot="end" name="chevron-up-outline" *ngIf="accordionNumber === 2"></ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content"  *ngIf="accordionNumber === 2 || !cap" [ngClass]="accordionNumber === 2 ? 'active':''">
                <ul>
                  <li>{{cap?.colourName}} colour</li>
                  <li>100% cotton</li>
                  <li>One size (adjustable)</li>
                  <li>Six panel design</li>
                  <li>Soft unstructured crown</li>
                  <li>Embroidered nod feather logo on the front</li>
                  <li>Adjustable rear buckle strap</li>
                  <li>Engraved buckle with nod logo</li>
                  <li>Hand wash only</li>
                </ul>
              </div>

              <ion-item slot="header"  button="true" details="none" (click)="accordion(3)">
                <ion-label>DELIVERY</ion-label>
                <ion-icon color="dark"slot="end" name="chevron-down-outline" *ngIf="accordionNumber !== 3"></ion-icon>
                <ion-icon color="dark"slot="end" name="chevron-up-outline" *ngIf="accordionNumber === 3"></ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content"   *ngIf="accordionNumber === 3 || !cap" [ngClass]="accordionNumber === 3 ? 'active':''">
                nod caps offer free UK mainland delivery with every order - no matter how big or small. Once you place an order, your nod cap should be with you within 2-3 working days.
              </div>

        </div>


       <!-- <div class="extras-box" *ngIf="cap?.quantity > 0">
          <ion-item class="delivery" detail="false" button="true" lines="none" (click)="openDeliveryInfo()">
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-label>Delivery info (2-3 days)</ion-label>
          </ion-item>    
          <ion-item class="plant-tree" lines="none">
            <ion-icon slot="start" name="leaf"></ion-icon>
            <ion-label>Plant a tree with each purchase</ion-label>
          </ion-item>     
         </div>-->
      </ion-col>
  </ion-row>
 

 
      <div class="other-caps">
        <h1>Browse this collection</h1>
       <app-cap-display [capArray] = "otherCaps" [parentCapName]="cap?.name"></app-cap-display>
       <app-top-caps *ngIf="otherCaps.length === 0"></app-top-caps>
      </div>




      <ion-row class="gift-row">
        <ion-col size="12" size-md="5" class="first-col">
          <img loading="lazy" src="https://projecttwo-c4839.web.app/assets/img/social-slider/social-slider4.jpeg">
        </ion-col>
        <ion-col size="12" size-md="7">
          <div >
            <ion-item lines="none">
              <ion-icon name="gift-outline"></ion-icon>
              <ion-label>The Perfect Gift</ion-label>
            </ion-item>
            <p>Every cap is carefully gift wrapped by hand with no receipt included so whether you're treating yourself or gift-giving to others, you can send the cap straight to the recipient.  All caps are one-size fits all so no need to worry about the right fit! </p>
          </div>
          <div class="sec">
            <ion-item lines="none">
              <ion-icon name="leaf-outline"></ion-icon>
              <ion-label>Sustainable Packaging</ion-label>
            </ion-item>
            <p>Our packaging is completely recyclable and made from 100% recycled content. We also try to use as little packaging possible (whilst ensuring your cap is well protected and arrives in top condition!) </p>
          </div>
          <div class="sec">
            <ion-item lines="none">
              <ion-icon name="gift-outline"></ion-icon>
              <ion-label>A Feather in your Cap</ion-label>
            </ion-item>
            <p>Our signature feather logo represents our gift to you - we're giving you a feather in your cap. We hope you are proud to wear nod caps and gift to your friends and family. </p>
          </div>
        </ion-col>

      </ion-row>



  <app-social-slider class="learn-more"></app-social-slider>

<div class="reviews" id="review-comp">
  <div class="container">

    <h1 class="ion-text-center">{{cap?.name}} Reviews</h1>
      <div  class="ratings-big">
      
        <h2 class="review-count">
          <span  class="review-text" *ngIf="cap?.numberOfReviews">{{cap?.rating}}</span>
          <ion-icon class="star" name="star" *ngFor="let item of [].constructor(wholeStars)"></ion-icon>
          <ion-icon *ngIf="hasHalf" name="star-half" class="star"></ion-icon>
          <div *ngIf="!hasHalf" class="empty-star">
            <ion-icon class="star"  *ngFor="let item of [].constructor(5 - wholeStars)"name="star-outline"></ion-icon>
          </div>
          <div *ngIf="hasHalf" class="empty-star">
            <ion-icon class="star"  *ngFor="let item of [].constructor(4 - wholeStars)"name="star-outline"></ion-icon>
          </div>
        </h2>
        <span *ngIf="cap?.numberOfReviews">Based on {{cap?.numberOfReviews}} review<span *ngIf="cap?.numberOfReviews !== 1">s</span></span>
        <span *ngIf="!cap?.numberOfReviews">Based on 0 reviews</span>
          </div>
  <app-reviews *ngIf="cap && loadReviews"  [cap]="cap"></app-reviews>
  </div>
</div>


  <app-footer ></app-footer>

</ion-content>
