ion-content{
    --background: white!important;
}

@media(max-width:768px){
    .learn-more{
        margin-bottom: 0px!important;
    }
    .preview-images{
        text-align:left!important;
        padding: 0px 20px;
        div {
            display: inline-block;
            padding: 3px;
    }
   
    } 
    .description-col{
        padding: 10px 20px 0px 20px!important;
    }
    .add-basket {
        margin-top:0px!important
    }
    .other-info{
        flex-wrap: wrap-reverse;
    }
}

.preview-images {
    text-align: end;
    img{
    max-height:100px;
    max-width:85px;
    border: 1px solid #22472A;
    border-radius: 3px;
    cursor:pointer;
}

}
ion-row{ margin-top:40px
}


.add-basket{
    margin-top:45px;
    ion-button{
        width:80%;
    }
}

.main-image{
    text-align: center;
    img{
        max-height:500px;
    }
}

.description-col{
    padding: 0px 40px;
    .star{
        color:#73B786;
        margin-bottom:-2px;
    }
    h2{
        font-size:16px;
        margin-top:0px;
        display: inline-block;
    }
    .review-count{
        color:#73B786;
        font-size:14px;
    }
    h1{
        color: black;
        margin-top: 0px;
        font-weight: bold;
    }
    .price{
       // font-style:italic
    }
    p{
        color: #737373;
    }

}

.extras-box{
    border: 1px solid #737373;
    padding: 10px;
    margin: 50px 0px 0px 0px;
    border-radius: 3px;
    ion-icon{
        margin-right:10px;
    }
    ion-item{
        font-size:14px;
    }
    .delivery{
        ion-icon{
            color:#212529;
        }
    }
    .plant-tree{
        ion-icon{
            color:green;
        }
    }
}

.learn-more{
    margin-bottom:100px;
    ion-col{
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
        padding:40px;
    }
}
.learn-more-header{
    background: #22472A;
    h1{
        font-size:40px;
        font-weight: bold;
        margin: auto;
        color:#f8f9fa;
    }
}
.learn-more-section{
    background:#efefef;
    border-radius: 0px 5px 5px 0px;
    p{
        color:#212529;
        text-align: center;
    }
}



.other-info{

    margin-bottom:50px;
    ion-col{
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
        padding:40px;
    }
}
.other-info-header{
  background:#73B786;
    h1{
        font-size:40px;
        font-weight: bold;
        margin: auto;
        color:#f8f9fa;
    }
}
.other-info-section{
    background:#efefef;
    border-radius: 5px 0px 0px 5px;
    p{
        color:#222;
        text-align: center;
    }
}


.active-cap{
    border: 3px solid #73B786!important;
}

h2{
    color:#212529;
    margin-left:10px;
}

.other-caps{
    margin:30px 60px;
}

.cap-quantity{
    color: #f50b0b!important;
}
.quantity{
    width:85px;
    --padding-start: 0px;
    ion-label{
        max-width:40px
    }
    ion-select{
        padding-left:0px;
    }
}

.swiper-col-hat{
    img{
        max-height:300px;
    } 
 
}

.loading{
    margin-top:150px;
    ion-spinner{
        width: 50px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:200px;
    }
}

.reviews{
    cursor: pointer;
}

.empty-star{
    display:inline-block;
}