ion-content{
    --background: white!important;
}


.swiper-button-next{
    top: 45%;
}
.swiper-button-prev{
    top: 45%;
}

.free-delivery{
    float: right;
    margin-top:10px!important;
    font-size:14px!important;
}
.price{
    margin-left: 0px!important;
    font-size: 22px!important;
    margin-bottom: 20px;
}

@media(max-width:768px){
    .add-basket{
      
        ion-button{
            width:100% ;
        }
    }
    .learn-more{
        margin-bottom: 0px!important;
    }
    .learn-more-section{
        padding: 0px 25px 25px 25px!important;
    }

   .other-caps{
    padding: 25px!important;
    margin: 30px 0px 0px 0px!important;

   }
    
    .description-col{
        padding: 10px 20px 0px 20px!important;
    }
 
    .other-info{
        flex-wrap: wrap-reverse;
    }
    .description-col h1{
        font-size: 26px!important
    }
    .description-col .price{
        font-size: 20px!important;
    }

}

    .preview-images{
        text-align:center!important;
        padding: 0px;
        div {
            display: inline-block;
            padding: 6px;
    }   
    img{
    max-height:100px;
    max-width:85px;
   // border: 1px solid #22472A;
    border-radius: 3px;
    cursor:pointer;
}

}



.add-basket{
    margin-top:20px;
  
    ion-button{
        width:270px;;
    }
}

.main-image{
    text-align: center;
    img{
        max-height:500px;
        border-radius: 4px;
    }
}

.description-col{
    padding: 0px 40px;
    .star{
        color:#73B786;
        margin-bottom:-2px;
    }
    h2{
        font-size:16px;
        margin-top:3px;
        display: inline-block;
    }
    .review-count{
        color:#212529;
        font-size:14px;
    }
    .ratings{
        cursor: pointer;
    }
    h1{
        color: #22472a;
        margin-top: 0px;
        font-weight: bold;
        margin-bottom: 20px;
font-size: 32px;
    }

    p{
        color: #737373;
    }

}

.extras-box{
    margin: 50px 0px 0px 0px;
    ion-icon{
        margin-right:10px;
    }
    ion-item{
        font-size:14px;
    }
    .delivery{
        ion-icon{
            color:#212529;
        }
    }
    .plant-tree{
        ion-icon{
            color:green;
        }
    }
}

.learn-more{
    h1{
    color: #22472a;
    font-weight: bold;
    }
   
}
.learn-more-header{
text-align:center;
padding:0px;
img {
    max-width: 500px;
    width: 100%;
}
}
.learn-more-section{
    padding:80px 40px;
    margin-top: auto;
    margin-bottom: auto;
  
    p{
        color:#212529;
    }
}


.size{
    color:#212529!important;
    font-size: 14px;
}


.active-cap{
    border: 3px solid #73B786!important;
}

h2{
    color:#212529;
    margin-left:10px;
}

.other-caps{
    padding: 30px 60px;
    margin: 30px 0px 0px 0px;
    background:#f5f5f5;
    h1{
        color: #22472a;
        font-weight: bold;
    }
}

.cap-quantity{
    color: #ef4040!important;
    float: right;
    font-size: 14px;
    margin-top:20px;
}
.quantity{
    width:85px;
    --padding-start: 0px;
    ion-label{
        max-width:40px
    }
    ion-select{
        padding-left:0px;
    }
}

.swiper-col-hat{
    img{
        max-height:300px;
    } 
 
}

.loading{
    margin-top:150px;
    ion-spinner{
        width: 50px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:200px;
    }
}

.reviews{
    cursor: pointer;
}

.empty-star{
    display:inline-block;
}

.cap-row{
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    margin-top:40px;
}


@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }



  .reviews{
      min-height: 300px;
  }

  .out-of-stock{
    text-align: center;

    p{
        color:#ef4040!important;
        font-size: 20px;
    }
  }

  .rating-no{
    font-size:20px;
  }

  .quantity-row h2 {
    margin-top: 13px;
  }
  .quantity-row{
    min-height: 55px;
    margin-top:20px;
    border-top: 1px solid #ededed;
    padding-top: 10px;

  }
  .quantity-box {
    text-align: center;
    display:inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #f5f5f5;
    margin-top: 10px;

    ion-button{
        display: inline-block;
        margin-top: -4px;
    }
    span{
        display: inline-block;
        color:#22472a;
        margin-top:8px;
        width:20px;
    }
  }

.accordion{
    margin-top: 50px;
    margin-bottom: 50px;

    border-top:1px solid #DEDEDE;
    ion-item{
        --padding-start: 5px;
        --inner-padding-end: 5px;
        ion-icon{
            font-size: 20px;
        }
    }
    div{
        color: #717677;
        padding: 10px 5px;
    }
    .active {
        animation: fadeIn ease 0.5s;
        -webkit-animation: fadeIn ease 0.5s;
         max-height:100%!important;	  
    }
    
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
     opacity: 1;
    }
  }
}


.colour-holder{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid;
    margin-bottom:15px;
    .colour-code{
        width:35px;
        height: 35px;
        border-radius: 50%;
        margin: 4px;
    }
}

.colour-name{
    color:#212529!important;
    margin-bottom: 10px;
}

.container {
    padding:30px 30px 60px 30px;
    min-height: 600px;
}

h1 {
    text-align: center;
    color: #22472a;
    font-weight: bold;
}




.empty-star{
    display:inline-block;
}

.ratings-big{
    text-align: center;
}


.star{
    color:#73B786;
}

@media (max-width: 768px) {
    .container{
        padding:15px 15px 60px 15px;
    }
  
}