/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import 'swiper/scss';
// @import "swiper/scss/lazy";
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';



ion-content{
    --margin-top: 60px;
}
.page-container{
    margin:5% 10%;
    h3{
      margin-top:40px;
    }
    margin-bottom:100px!important;
    h1{
      margin-bottom:30px;
    }
}

.basket-modal .modal-wrapper{
    width: 600px;
    height: 100%;
    border-radius: 0px;
    position: absolute;
    right: 0px;
}

.cookie-modal .modal-wrapper {
    bottom: 0px;
    position: absolute;
    height:50%;
    border-radius: 10px 10px 0px 0px;
}

.sign-up-modal .modal-wrapper {
    bottom: 0px;
    position: absolute;
    max-height: 302px;
    border-radius: 10px 10px 0px 0px;
}

@media (max-width:768px) {
    .basket-modal .modal-wrapper{
        width: 100%;
    }
    .cookie-modal .modal-wrapper {
        height:55%;
        width: 95%;
    }
    .sign-up-modal .modal-wrapper {
        width: 95%;
        max-height: 345px!important;
    }
}


.swiper-col-hat .swiper-slide {
    text-align: center;
}

.swiper-button-prev, .swiper-button-next{
    height: 40px;
    width: 40px;
    --border-radius: 50%;
    --padding-start:0px;
    --padding-end:0px;
}

.swiper-button-prev:after, .swiper-button-next:after{
  display: none;
}

.swiper-pagination-bullet-active{
    background: #212529;
}
.swiper-pagination{
    bottom:0px!important;
}

.modal-wrapper {
    --border-radius:6px;
}

.review-modal .modal-wrapper {
    height:85%;

}

@media (max-width: 768px) {
    .review-modal .modal-wrapper {
height:95%;
width: 95%;
    }
}


.hat-swiper .swiper-pagination-bullets {
    bottom:15px!important;
    .swiper-pagination-bullet{
        height: 10px;
        width: 10px;
        margin: 0px 8px;
    }
}

// add in -scully below
 app-root-scully .scully-div{
    background: #22472a;
    z-index: 10000;
    height: 100vh;
    .center-holder{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align:center;
    .feather-logo{
        width: 10%;
    }
    .nod-logo{
        width: 30%
    }
    p{
        color: #7ac08e;
    }
    .loading-dots{
        width:10%;
        margin-top: 25px;
    }
    }
  }

  app-root-scully app-header{
    display: none;
  }
    app-root-scully .cookie-modal {
    display: none;
  }

  app-root .scully-div {
    display: none;
  }



  .where ion-item{
    margin-left: 0px!important;
    --padding-start: 0px;
  }



  h1{
    font-size: 36px;
  }

  .modal-wrapper h1 {
    font-size: 28px!important;
  }

  .ion-button{
   
    border-radius: 64px;
    background: #7ac08e;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    text-transform: uppercase;
    height: 36px;
    text-decoration: none;
    padding: 8px 26px;
    margin: 4px 2px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.06em;
    display: inline-flex;
  }

  .ion-button-small{
    height: 2.1em!important;
    font-size: 13px!important;
    padding: 6px 26px!important;
  }
  .ion-button-light{
    background: #F4F5F8!important;
  }
  .ion-button-light:hover{
    background: #dedede!important;
  }

  .ion-button:hover{
  opacity: 0.92;
  }

  .ion-button-primary {
    background: #22472a!important;
    color:#fff!important;

  }


  .header-button{
    border-radius: 2px;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #F1F3F5;
    text-decoration: none;
    padding: 12px;
    display: inline-flex;
  }

  .header-button:hover{
    background:rgba(255,255,255,0.08);
  }