@media (max-width: 768px) {
  ion-toolbar{
    padding: 0px!important;
    //text-align:center;
  }
}

ion-toolbar{
  --background: 
  repeating-linear-gradient( 45deg,#0e0e0e, #0d0d0d),
  repeating-linear-gradient(45deg, black, #0e0e0e, 1px, transparent 2px, transparent 1px),
  repeating-linear-gradient(-45deg, black, #0f0f0f, 1px, transparent 2px, transparent 1px);
background-blend-mode: overlay;
--ion-color-base: transparent !important;
color:white;
padding-right:15px;
}

ion-content{
  --background: transparent

}

.transparent{
  --background: transparent;

}

:host{
  position: absolute;
  width: 100%;
  height: 100%;
  background:
    repeating-linear-gradient( 45deg,#0e0e0e, #0d0d0d),
    repeating-linear-gradient(45deg, black, #0e0e0e, 1px, transparent 2px, transparent 1px),
    repeating-linear-gradient(-45deg, black, #0f0f0f, 1px, transparent 2px, transparent 1px);
  background-blend-mode: overlay;
}