@media (max-width: 768px) {
  ion-toolbar{
    padding: 0px!important;
    //text-align:center;
  }
}

ion-toolbar{
--background: #C7FFC1;
padding-right:15px;
}

.transparent{
  --background: transparent!important;
}

.hide{
  display:none;
}

app-swiper-banner{
  max-height:50px;
}

.fade-out {
  max-height: 0px!important;
	overflow: hidden;
	/* Set our transitions up. */
	-webkit-transition: max-height 0.5s ease-out;
	-moz-transition: max-height 0.5s ease-out;
	transition: max-height 0.5s ease-out;

}
.fade-in {
  max-height: 50px!important;
	overflow: hidden;
	/* Set our transitions up. */
	-webkit-transition: max-height 0.5s ease-in;
	-moz-transition: max-height 0.5s ease-in;
	transition: max-height 0.5s ease-in;

}