

<app-banner-swiper [ngClass]="isTop?'fade-in':'fade-out'" ></app-banner-swiper>




<ion-content  [scrollEvents]="true" (ionScroll)="onScroll($event)" >


    <app-landing-banner [isTop]="isTop"></app-landing-banner>
    <app-section-two [ngClass]="isTop?'toptop':''" class="background2"></app-section-two>
    <app-section-three></app-section-three>
    
 
    <ion-footer>
      <ion-toolbar>
        <ion-button  color="light" fill="clear" [disabled]="true">©2021 Cap Shop</ion-button>
        <ion-button slot="end" color="dark" fill="clear">Contact</ion-button>
      </ion-toolbar>
    </ion-footer>
</ion-content>


