@media(max-width: 768px) {
    .description{
        font-size:14px;
    }
    .review-section h2 {
        font-size: 18px
    }
    .top-holder-section{
        margin-top: 44px;
    }
    .review-button{
        margin-right:10px;
    }
}
 @media (min-width: 768px) {
    .review-button{
        margin-bottom: 15px;
        margin-top: 30px;
    }
 }

.review-section {
    margin-top: 30px;
    border-bottom: 1px solid #c4c4c4;
    
    h2{
        font-size:20px;
        cursor:pointer;
    }
    img{
        cursor:pointer;
    }

}

.buy-more {
    margin-top:40px;
}
ion-row{
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    padding: 10px 0px;
    h2 {
        margin-top: 5px;
    }
}
.first-col{
    padding: 0px;
    img{
        border-radius: 4px;
        margin-top:10px;
    }
}

.second-col{
    padding: 10px 20px;
}




.description{
    color:#838383;
    margin-top:0px;
}

.socials{
    margin-top:30px;
}


.no-order{
    height: 100px;
    text-align: center;
    ion-spinner{
        margin-top: 50px;
    }
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .top-holder-section{
    background-image: url('/assets/img/hiking-header.jpg');
    background-position: center;
    background-size: cover;
    height: 130px;
    div {
        background: rgba(0,0,0,0.4);
        text-align: center;
        height: 100%;
        display: table;
        width: 100%;
    }
    h1{
       color: #f8f9fa;
       font-size: 40px;
       display: table-cell;
       text-align: center;
       vertical-align: middle;
    }
  }

  .middle-container {
        padding: 20px 25px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
  }

  .order-summary{
    margin-bottom: 30px;
    strong {
        font-size: 20px;
    }
  }