<div *ngIf="!signedUp">

  <h2>
    <span *ngIf="!inModal">Sign up for future discounts and new hat releases</span>
  </h2>
  
  
  
  <form [formGroup]="signUpForm">
  
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input  formControlName="name" placeholder="Your name..."></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.name">
      <ng-container *ngIf="name?.hasError(error.type) && (name?.dirty || name?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input  type="email"  formControlName="email"placeholder="Your email..."></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.email">
      <ng-container *ngIf="email?.hasError(error.type) && (email?.dirty || email?.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
  
   
    </form>
  
    <ion-item lines="none" class="agree" >
      <ion-label>I consent to recieving updates from Nod Caps</ion-label>
      <ion-checkbox color="secondary" [(ngModel)]="isChecked"></ion-checkbox>
    </ion-item>
  
    <div class="button-holder">
      <ion-button [disabled]="!signUpForm.valid || !isChecked" shape="round" color="tertiary" (click)="signUp()"><span *ngIf="!sending">Sign me up</span><ion-spinner *ngIf = "sending"></ion-spinner></ion-button>
    </div>
  
</div>

